/* Welcome section. */
.amp-support {
	margin: 2.5rem 0;
}

.amp-support h2 {
	align-items: center;
	display: flex;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 1;
	margin-top: 0;
}

.amp-support .amp-support__raw-data {
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 15px;
	max-height: 510px;
	overflow: scroll;
	font-size: 12px;
	line-height: 2;
}

.amp-support .amp-support__footer {
	margin-top: 1.5rem;
	display: flex;
}

.amp-support .amp-support__footer .components-external-link {
	display: flex;
	align-items: center;
}

.amp-support .components-button--send-button {
	margin-right: 1rem;
}

.amp-support .amp-notice {
	align-items: center;
}

.amp-support .amp-notice--info {
	margin-top: 1rem;
}

.amp-support .components-clipboard-button {
	box-shadow: none;
	text-decoration: none;
	padding: 0.25rem .5rem;
	margin: 0 .5rem;
	outline: none !important;
	height: auto;
}

.amp-support__body details {
	margin: 1rem 0;
}

.amp-support__body details[disabled] summary,
.amp-support__body details.disabled summary {
	pointer-events: none; /* prevents click events */
}

.amp-support__body details > summary {
	font-size: 1rem;
}

.amp-support__body details .detail-body {
	font-size: .8rem;
	margin: .5rem 1.5rem 1.5rem;
	overflow-x: auto;
}

.amp-support__body details .detail-body .detail-body-text {
	font-size: .8rem;
	font-style: italic;
}

.amp-support__body details .external-link {
	margin-left: .3rem;
	text-decoration: none;
}

.amp-support__body details .external-link .dashicons {
	font-size: .9rem;
	width: 1rem;
	height: 1rem;
	vertical-align: bottom;
}

.amp-support__body details ul.list-group {
	margin-left: 1rem;
	list-style-type: disc;
}
