/* Welcome section. */
.amp-support {
	margin: 2.5rem 0;

	h2 {
		align-items: center;
		display: flex;
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		line-height: 1;
		margin-top: 0;
	}

	&__raw-data {
		border: 1px solid #dedede;
		border-radius: 5px;
		padding: 15px;
		max-height: 510px;
		overflow: scroll;
		font-size: 12px;
		line-height: 2;
	}

	&__footer {
		margin-top: 1.5rem;
		display: flex;
	}

	.components-button--send-button {
		margin-right: 1rem;
	}

	.amp-notice {
		align-items: center;
	}

}

.amp-support__body details {
	margin: 1rem 0;

	&[disabled] summary,
	&.disabled summary {
		pointer-events: none; /* prevents click events */
	}

	> summary {
		font-size: 1rem;
	}

	.detail-body {
		font-size: .8rem;
		margin: .5rem 1.5rem 1.5rem;
	}

	.external-link {
		margin-left: .3rem;
		text-decoration: none;

		.dashicons {
			font-size: .9rem;
			width: 1rem;
			height: 1rem;
			vertical-align: bottom;
		}
	}

	ul.list-group {
		margin-left: 1rem;
		list-style-type: disc;
	}
}
