/* Hide default block mover to show ours instead */
.block-editor-block-list__block > .block-editor-block-list__block-edit > .block-editor-block-mover {
	display: none !important;
}

.components-draggable__clone .block-editor-block-list__block .rotatable-box-wrap {
	display: none;
	opacity: 0;
}

.block-editor-inner-blocks .block-editor-block-list__block.is-rotating .block-editor-block-list__insertion-point,
.block-editor-inner-blocks .block-editor-block-list__block.is-rotating .block-editor-block-list__breadcrumb,
.block-editor-inner-blocks .block-editor-block-list__block.is-rotating .block-editor-block-contextual-toolbar {
	display: none !important;
}

.block-editor-block-list__block .rotatable-box-wrap {
	position: absolute;
	right: -14px;
	bottom: -44px;
	left: calc(50% - 15px);
	width: 30px;
	height: 44px;
	z-index: 1;
}

.block-editor-block-list__block .rotatable-box-wrap::before {
	display: block;
	content: "";
	cursor: inherit;
	border-left: 1px solid rgba(66, 88, 99, .4);
	height: 24px;
	width: 0;
	margin: 3px auto 0;
	position: relative;
	right: -1px;
}

.block-editor-block-list__block .rotatable-box-wrap .rotatable-box-wrap__handle {
	display: block;
	opacity: 1;
	transition: opacity .3s;
	position: absolute;
	bottom: 0;
	left: calc(50% - 24px);
	width: 50px;
	height: 24px;
	padding: 4px;
	cursor: move;
	background: transparent;
	border: none;
}

.rotatable-box-wrap .rotatable-box-wrap__handle::before {
	background: theme(primary);
	border: 2px solid #fff;
	border-radius: 50%;
	content: "";
	cursor: inherit;
	display: block;
	height: 15px;
	width: 15px;
	margin: 0 auto;
}


.block-editor-inner-blocks .wp-block .rotatable-box-wrap,
.block-editor-inner-blocks .wp-block.is-typing .rotatable-box-wrap {
	display: block;
	opacity: 0;
	transition: opacity .3s;
}

.block-editor-inner-blocks .wp-block.is-typing .rotatable-box-wrap,
.block-editor-inner-blocks .wp-block .amp-story-resize-container.is-resizing .rotatable-box-wrap {
	opacity: 0;
}

.block-editor-inner-blocks .wp-block:hover .rotatable-box-wrap,
.block-editor-inner-blocks .wp-block.is-selected .rotatable-box-wrap,
.block-editor-inner-blocks .wp-block.is-rotating .rotatable-box-wrap {
	opacity: 1;
}
