includes:
	# @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 4
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- src/
	ignoreErrors:
		- '#^PHPDoc tag @throws with type AmpProject\\Exception\\FailedRemoteRequest is not subtype of Throwable$#'
