includes:
	# @see https://github.com/phpstan/phpstan-src/blob/b9f62d63f2deaa0a5e97f51073e41a422c48aa01/conf/bleedingEdge.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 4
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- src/
	ignoreErrors:
		- '#^PHPDoc tag @throws with type AmpProject\\Exception\\FailedRemoteRequest is not subtype of Throwable$#'
		# See https://github.com/phpstan/phpstan/issues/3611
		- '#^Class .*? has an unused method .*?\(\)\.$#'
