.amp-story-page-snap-lines {
	position: absolute;
	top: 0;
	pointer-events: none;

	/* higher than draggable overlay */
	z-index: 20;
}

.amp-story-page-snap-lines line {
	stroke: #f00;
	pointer-events: none;
}
