version: 2
updates:

# Config for AMP plugin.
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: daily
    time: "12:00"
    timezone: America/Los_Angeles
  open-pull-requests-limit: 10

- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "12:00"
    timezone: America/Los_Angeles
  open-pull-requests-limit: 10
  ignore:
  # Cannot upgrade until @wordpress/scripts supports webpack v5.
  - dependency-name: postcss-loader
    versions:
    - ">= 5"
  # Cannot be updated at the moment due to an incompatibility with `postcss-preset-env`. See https://github.com/ampproject/amp-wp/pull/5675#issuecomment-769197753.
  - dependency-name: postcss-nested
    versions:
    - "> 5.0.1"
  # Cannot upgrade until @wordpress/element supports react v17.
  - dependency-name: react
    versions:
    - ">= 17"
  # Cannot upgrade until @wordpress/scripts supports webpack v5.
  - dependency-name: terser-webpack-plugin
    versions:
    - ">= 5"
  # Cannot upgrade until @wordpress/scripts supports webpack v5.
  - dependency-name: copy-webpack-plugin
    versions:
    - ">= 7"
  # Updates are handled via the `gutenberg-packages-update` GHA workflow.
  - dependency-name: "@wordpress/*"

# Config for QA Tester plugin.
- package-ecosystem: composer
  directory: "/qa-tester"
  schedule:
    interval: daily
    time: "12:00"
    timezone: America/Los_Angeles
  open-pull-requests-limit: 10

- package-ecosystem: npm
  directory: "/qa-tester"
  schedule:
    interval: daily
    time: "12:00"
    timezone: America/Los_Angeles
  open-pull-requests-limit: 10

# Config for GitHub Actions.
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: daily
    time: "12:00"
    timezone: America/Los_Angeles
  open-pull-requests-limit: 10
