/**
 * Override a style rule in Twenty Sixteen and Twenty Seventeen.
 * It set display:none for audio elements.
 * This selector is the same, though it adds body and uses amp-audio instead of audio.
 */
body amp-audio:not([controls]) {
	display: inline-block;
	height: auto;
}

/*
 * Style the default template messages for submit-success, submit-error, and submitting. These elements are inserted
 * by the form sanitizer when a POST form lacks the action-xhr attribute.
 */
.amp-wp-default-form-message > p {
	margin: 1em 0;
	padding: 0.5em;
}

.amp-wp-default-form-message[submitting] > p,
.amp-wp-default-form-message[submit-success] > p.amp-wp-form-redirecting {
	font-style: italic;
}

.amp-wp-default-form-message[submit-success] > p:not(.amp-wp-form-redirecting) {
	border: solid 1px #008000;
	background-color: #90ee90;
	color: #000;
}

.amp-wp-default-form-message[submit-error] > p {
	border: solid 1px #f00;
	background-color: #ffb6c1;
	color: #000;
}

/* Prevent showing empty success message in the case of an AMP-Redirect-To response header. */
.amp-wp-default-form-message[submit-success] > p:empty {
	display: none;
}

amp-carousel .amp-wp-gallery-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 1rem;
}

.wp-block-gallery[data-amp-carousel="true"] {
	display: block;
	flex-wrap: unset;
}

/*
 * Replicate bottom-margin which is added to .mejs-container by theme styles, although it varies;
 * - 1.5em in Twenty Seventeen
 * - 24px in Twenty Eleven, Twenty Thirteen and Twenty Twelve
 * Other themes set the bottom margin on direct descendants of the .entry-content, in which case this will be overridden.
 *
 * The max-width: 100% is normally applied by to .mejs-container by wp-mediaelement.css but this stylesheet is not
 * included in AMP, so this is why it is included here.
 */
.wp-video {
	margin-bottom: 1.5em;
	max-width: 100%;
}

/*
 * Ensure the button used to expand AMP components is placed in the bottom left hand corner of the component,
 * where it's most likely to be seen.
 */
button[overflow] {
	bottom: 0;
}

/* Ensure any object-fit/object-position properties set on the custom element will be inherited to the shadow element. */
amp-video > video,
amp-img > img,
amp-anim > img {
	object-fit: inherit;
	object-position: inherit;
}
