.is-amp-fit-text + .blocks-font-size > .components-font-size-picker__buttons,
.is-amp-fit-text + .blocks-font-size > .components-font-size-picker__custom-input {
	display: none;
}

/* Latest Stories block */
.amp-block-latest-stories > .latest-stories-carousel {
	display: flex;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}

.latest-stories-carousel .latest-stories__slide {
	flex: 0 0 auto;
	margin-right: 1rem;
}

/* AMP preview button wrapper */
.wp-core-ui #amp-wrapper-post-preview {
	border: 0;
	margin-left: -6px;
	padding: 0;
	position: relative;
}

/* AMP preview button */
.wp-core-ui .amp-editor-post-preview {
	height: 34px;
	padding-left: 6px;
	padding-right: 6px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.wp-core-ui .amp-editor-post-preview svg {
	width: 15px;
	height: 15px;
	margin: 0;
}

/*
 * Ensure the non-AMP preview button is the same height as the AMP preview one.
 * 34px is the height of the non-AMP preview button in WordPress 5.3, though the height before was 33px.
 * Without this, the non-AMP AMP preview button will be 1 px too short before WP 5.3.
 */
.wp-core-ui .edit-post-header .editor-post-preview {
	height: 34px;
}
