.wp-block[data-type="amp/amp-story-text"] p {
	margin: 0;
}

.wp-block-amp-story-text .editor-rich-text__editable {
	width: 100%;
}


.editor-styles-wrapper #amp-story-editor .wp-block .wp-block[data-type="amp/amp-story-text"] {
	width: initial;
}

.wp-block[data-type="amp/amp-story-text"] .block-editor-rich-text__editable,
div[data-type="amp/amp-story-page"] .block-editor-inner-blocks .block-editor-block-list__block-edit
{
	display: inline-block;
}

.editor-styles-wrapper .wp-block-amp-story-text p.is-amp-fit-text {
	line-height: 1.15em;
}
