{
  "presets": [
    "@wordpress/default"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@wordpress/babel-plugin-import-jsx-pragma",
      {
        "scopeVariable": "createElement",
        "source": "@wordpress/element",
        "isDefault": false
      }
    ],
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ],
    "inline-react-svg"
  ],
  "sourceMaps": true
}
