{
  "presets": [
    "@wordpress/default"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ],
    "inline-react-svg"
  ],
  "sourceMaps": true
}
