{
  "root": true,
  "extends": [ "plugin:@wordpress/eslint-plugin/recommended", "plugin:jest/recommended" ],
  "settings": {
    "react": {
      "pragma": "wp",
      "version": "16.6"
    }
  },
  "globals": {
    "browser": true,
    "page": true,
    "wp": true,
    "Set": true
  },
  "rules": {
    "react/prop-types": 2
  }
}
