{
  "root": true,
  "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
  "settings": {
    "react": {
      "pragma": "wp",
      "version": "16.6"
    }
  },
  "globals": {
    "wp": true,
    "Set": true
  }
}
