.DS_Store
node_modules

/vendor
/build
/artifacts
/wiki
/amp.zip
/assets/css/*
!/assets/css/src/
/assets/js/**/*.js
/assets/js/*.asset.php
!/assets/js/amp-service-worker-runtime-precaching.js
/assets/js/*.map
/built
/amphtml
/.env
/.idea/
/.vscode/
/phpcs.xml
/phpunit.xml
/.phpunit.result.cache
/*.sql
/.wp-env.override.json

# Generated via bin/transform-readme.php
/readme.txt

# Generated via phpstan analyse --generate-baseline temp-baseline.php
/temp-baseline.php
