*.snap                                                   linguist-generated=true
includes/sanitizers/class-amp-allowed-tags-generated.php linguist-generated=true
docs/**/*.md                                             linguist-generated=true
docs/docs.json                                           linguist-generated=true
