lib/optimizer/resources/local_fallback/*                 linguist-generated=true
lib/optimizer/tests/spec/*                               linguist-generated=true
*.snap                                                   linguist-generated=true
includes/sanitizers/class-amp-allowed-tags-generated.php linguist-generated=true
docs/**/*.md                                             linguist-generated=true
docs/docs.json                                           linguist-generated=true

/.github              export-ignore
/bin                  export-ignore
/tests                export-ignore
/.browserslistrc      export-ignore
/.devlib              export-ignore
/.editorconfig        export-ignore
/.eslintignore        export-ignore
/.eslintrc            export-ignore
/.gitattributes       export-ignore
/.gitignore           export-ignore
/.gitmodules          export-ignore
/.npmrc               export-ignore
/.nvmrc               export-ignore
/.phpcs.xml.dist      export-ignore
/.phpstorm.meta.php   export-ignore
/.rtlcssrc            export-ignore
/.stylelintignore     export-ignore
/.stylelintrc.json    export-ignore
/.travis.yml          export-ignore
/babel.config.js      export-ignore
/codecov.yml          export-ignore
/Gruntfile.js         export-ignore
/package.json         export-ignore
/package-lock.json    export-ignore
/phpstan.neon.dist    export-ignore
/phpunit.xml.dist     export-ignore
/postcss.config.js    export-ignore
/renovate.json        export-ignore
/sizereport.config.js export-ignore
/webpack.config.js    export-ignore

/lib/common/tests             export-ignore
/lib/common/.editorconfig     export-ignore
/lib/common/.gitignore        export-ignore
/lib/common/.phpcs.xml.dist   export-ignore
/lib/common/phpstan.neon.dist export-ignore
/lib/common/phpunit.xml       export-ignore

/lib/optimizer/bin               export-ignore
/lib/optimizer/tests             export-ignore
/lib/optimizer/.editorconfig     export-ignore
/lib/optimizer/.gitignore        export-ignore
/lib/optimizer/.phpcs.xml.dist   export-ignore
/lib/optimizer/phpstan.neon.dist export-ignore
/lib/optimizer/phpunit.xml       export-ignore
