# Tell Travis CI we're using PHP
language: php

# Opt to use Travis container-based environment.
sudo: false

# Newer versions like trusty don't have PHP 5.2 or 5.3
# https://blog.travis-ci.com/2017-07-11-trusty-as-default-linux-is-coming
dist: precise

notifications:
  email:
    on_success: never
    on_failure: change

cache:
  directories:
    - node_modules
    - vendor
    - $HOME/phpunit-bin
    - $HOME/deployment-targets

install:
  - if [[ $DEV_LIB_SKIP =~ composer ]]; then composer install --no-dev; fi
  - nvm install 6 && nvm use 6
  - export DEV_LIB_PATH=dev-lib
  - source $DEV_LIB_PATH/travis.install.sh

script:
  - source $DEV_LIB_PATH/travis.script.sh

after_script:
  - source $DEV_LIB_PATH/travis.after_script.sh

jobs:
  include:
    - stage: test
      php: "7.2"
      env: WP_VERSION=trunk
    - php: "5.3"
      env: WP_VERSION=latest DEV_LIB_SKIP=composer,phpcs
    - php: "5.4"
      env: WP_VERSION=4.7    DEV_LIB_SKIP=composer,phpcs
    - php: "5.5"
      env: WP_VERSION=latest DEV_LIB_SKIP=phpcs
    - php: "5.6"
      env: WP_VERSION=4.8    DEV_LIB_SKIP=phpcs
    - php: "5.6"
      env: WP_VERSION=latest DEV_LIB_SKIP=phpcs
    - php: "7.0"
      env: WP_VERSION=latest DEV_LIB_SKIP=phpcs
    - php: "7.1"
      env: WP_VERSION=latest DEV_LIB_SKIP=phpcs
    - stage: deploy
      if: type = push AND fork = false AND ( branch =~ ^[a-z][a-z0-9-]{0,10}$ OR branch =~ ^[0-9]+\.[0-9]+$ ) AND NOT branch IN ( live, test, dev, settings, team, support, debug, multidev, files, tags, billing )
      php: "7.1"
      env: WP_VERSION=latest DEV_LIB_ONLY=composer,grunt
      script:
        - |
          eval "$(ssh-agent -s)"
          pantheon_branch=$( echo $TRAVIS_BRANCH | sed 's/^\([0-9]\)/v\1/' | sed 's/[^a-z0-9-]/-/' )
          echo "Initializing deployment to Pantheon branch: $pantheon_branch"
          openssl aes-256-cbc -K $encrypted_7eb11f40d4e9_key -iv $encrypted_7eb11f40d4e9_iv -in bin/keys/id_rsa_ampconfdemo.enc -out bin/keys/id_rsa_ampconfdemo -d
          chmod 600 bin/keys/id_rsa_ampconfdemo
          ./bin/deploy-travis-pantheon.sh \
            ampconfdemo \
            db7f3307-9808-4753-aaa4-acb387c94472 \
            $(pwd)/bin/keys/id_rsa_ampconfdemo \
            $pantheon_branch
      after_script: skip
