includes:
	# @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	level: 0
	inferPrivatePropertyTypeFromConstructor: true
	paths:
		- %currentWorkingDirectory%/includes/
		- %currentWorkingDirectory%/src/
	autoload_files:
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/wordpress-defines.php
		- %currentWorkingDirectory%/vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/php-cli-tools.php
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/wp-cli.php
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/pwa.php
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/twentyseventeen.php
		- %currentWorkingDirectory%/tests/php/static-analysis-stubs/legacy-i18n.php
		- %currentWorkingDirectory%/vendor/autoload.php
		- %currentWorkingDirectory%/amp.php
		- %currentWorkingDirectory%/includes/amp-frontend-actions.php
		- %currentWorkingDirectory%/includes/amp-post-template-functions.php
	ignoreErrors:
		# Uses func_get_args()
		# - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
		# https://core.trac.wordpress.org/ticket/43304
		# - '/^Parameter #2 \$deprecated of function load_plugin_textdomain expects string, false given\.$/'
		# WP-CLI accepts a class as callable
		# - '/^Parameter #2 \$callable of static method WP_CLI::add_command\(\) expects callable\(\): mixed, \S+ given\.$/'
