<phpunit
	colors="true"
	backupGlobals="false"
	defaultTestSuite="default"
	convertErrorsToExceptions="false"
	convertNoticesToExceptions="false"
	bootstrap="tests/php/bootstrap.php"
	convertWarningsToExceptions="false"
	convertDeprecationsToExceptions="false"
	>
	<coverage processUncoveredFiles="false">
		<include>
			<directory suffix=".php">./</directory>
		</include>
		<exclude>
			<directory suffix=".php">assets</directory>
			<directory suffix=".php">back-compat</directory>
			<directory suffix=".php">bin</directory>
			<directory suffix=".php">build</directory>
			<directory suffix=".php">docs</directory>
			<directory suffix=".php">node_modules</directory>
			<directory suffix=".php">svn</directory>
			<directory suffix=".php">tests</directory>
			<directory suffix=".php">vendor</directory>
			<directory suffix=".php">includes/ecosystem-data</directory>
			<file>.phpstorm.meta.php</file>
		</exclude>
	</coverage>
	<php>
		<const name="WP_TEST_ACTIVATED_PLUGINS" value="gutenberg/gutenberg.php,pwa/pwa.php"/>
	</php>
	<testsuites>
		<!-- Default test suite to run all tests -->
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/php/</directory>
			<directory suffix="Test.php">./tests/php/src</directory>
		</testsuite>
		<testsuite name="external-http">
			<directory prefix="test-" suffix="embed-handler.php">tests/</directory>
		</testsuite>
	</testsuites>
	<groups>
		<exclude>
			<group>external-http</group>
		</exclude>
	</groups>
</phpunit>
