<phpunit
	bootstrap="dev-lib/phpunit-plugin-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TEST_ACTIVATED_PLUGINS" value="jetpack/jetpack.php,gutenberg/gutenberg.php" />
	</php>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	    <testsuite name="Test Tag and Attribute Sanitizer Private Methods">
	      <file phpVersion="5.3.6" phpVersionOperator=">=">./tests/amp-tag-and-attribute-sanitizer-private-methods-tests.php</file>
	    </testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">dev-lib</directory>
				<directory suffix=".php">svn</directory>
				<directory suffix=".php">node_modules</directory>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
				<directory suffix=".php">build</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
