<phpunit
	bootstrap="vendor/xwp/wp-dev-lib/sample-config/phpunit-plugin-bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TEST_ACTIVATED_PLUGINS" value="jetpack/jetpack.php,gutenberg/gutenberg.php,pwa/pwa.php" />
	</php>
	<testsuites>
		<testsuite name="amp-wp">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">dev-lib</directory>
				<directory suffix=".php">svn</directory>
				<directory suffix=".php">node_modules</directory>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
				<directory suffix=".php">build</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
