<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	    <testsuite name="Test Tag and Attribute Filter Private Methods">
	      <file phpVersion="5.3.2" phpVersionOperator=">=">./tests/amp-tag-and-attribute-filter-private-methods-tests.php</file>
	    </testsuite>
	</testsuites>
	<filter>
	  <whitelist processUncoveredFilesFromWhitelist="true">
	    <file>./includes/filters/class-amp-tag-and-attribute-filter.php</file>
	  </whitelist>
	</filter>
</phpunit>
