.amp-site-scan-notice__cta {
	margin: 0.5rem 0 1rem;
}

.amp-site-scan-notice__plugin-details {
	margin: 0.5rem 0;
}

.amp-site-scan-notice__plugin-summary {
	cursor: pointer;
}

.amp-site-scan-notice__urls-list {
	margin: 0.5rem 0 1rem;
	padding: 0 1rem;
}
