.amp-site-scan-notice__cta {
	display: flex;
	flex-flow: row;
	margin: 0.5rem 0 1rem;

	> .button + .button {
		margin-left: 0.5rem;
	}
}

.amp-site-scan-notice__source-details {
	margin: 0.5rem 0;
}

.amp-site-scan-notice__source-summary {
	cursor: pointer;
}

.amp-site-scan-notice__urls-list {
	margin: 0.5rem 0 1rem;
	padding: 0 1rem;
}
