/**
 * AMP setting toggle component.
 */
.amp-setting-toggle__label-text h3 {
	font-weight: 700;
	font-size: 1.25rem;
	margin-bottom: 0;
	margin-top: 0;
}

.amp-setting-toggle .components-toggle-control .components-base-control__field .components-toggle-control__label {
	display: flex;
	flex-wrap: wrap;
}

.amp-setting-toggle__illustration {
	padding-bottom: 1.5rem;

	@media screen and (min-width: 783px) {
		padding: 0 1.5rem;
	}
}

.amp .amp-setting-toggle .components-form-toggle {
	margin-bottom: 2.25rem;
	margin-right: 2.25rem;
}

.amp-setting-toggle .components-toggle-control .components-base-control__field {
	align-items: baseline;
	margin-bottom: 0;
}

.amp-setting-toggle .components-form-toggle.is-checked .components-form-toggle__track {
	background-color: var(--brand);
}

.amp-setting-toggle .components-form-toggle__input:focus + .components-form-toggle__track {
	box-shadow: 0 0 0 2px #fff, 0 0 0 3.5px var(--brand);
}

.amp-setting-toggle--disabled .components-form-toggle__input {
	pointer-events: none;
	opacity: 0.5;
}

.amp-setting-toggle--disabled .components-toggle-control__label {
	pointer-events: none;
}
