.amp-notice {
	border-radius: 12px;
	display: flex;
	font-size: 13px;
	line-height: 1.85;
}

.amp-notice p {
	font-size: 13px;
}

.amp-notice__body {
	flex-grow: 1;
	text-align: left;
}

.amp-notice__body .components-panel__body-toggle,
.amp-notice__body .components-panel__body-toggle:focus:not(:disabled) {
	color: var(--black);
	outline: none;
}

.amp-notice--success {
	background-color: #ecfef1;
}

.amp-notice--info {
	background-color: #effbff;
}

.amp-notice--warning {
	background-color: #ffefef;
}

.amp-notice--small {
	line-height: 1.5;
	padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.amp-notice--small svg {
	flex-grow: 0;
	margin-right: 0.5rem;
	height: 18px;
	width: 18px;
}

.amp-notice--large {
	padding: 0.5rem 1.125rem 0.5rem 0.5rem;
}

.amp-notice--large .amp-notice__icon {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}

.amp-notice--large svg {
	flex-grow: 0;
	margin-right: 1rem;
	height: 30px;
	width: 30px;
}

