.block-editor-block-list__block .block-editor-post-input,
.block-editor-post-input {
	flex-grow: 1;
	position: relative;
	padding: 1px;
}

.block-editor-post-input input[type="text"] {
	font-size: 13px;
	width: 300px;
	padding: 12px;
	border-color: #007cba;
	outline: 2px solid transparent;
	border-radius: 0;
	margin-left: 0;
	margin-right: 0;
}

.block-editor-post-input label {
	font-size: 14px;
}

.block-editor-post-input__suggestions {
	display: inherit;
	max-height: 200px;
	transition: all 0.15s ease-in-out;
	padding: 4px 0;
	width: 302px;
	overflow-y: auto;
}

.block-editor-post-input__suggestion {
	padding: 4px 8px;
	color: #6c7781;
	display: block;
	font-size: 13px;
	cursor: pointer;
	background: #fff;
	width: 100%;
	border: none;
	text-align: left;
	box-shadow: none;
}

.block-editor-post-input__suggestion:hover {
	background: #e2e4e7;
}

.block-editor-post-input__suggestion:focus,
.block-editor-post-input__suggestion.is-selected {
	background: #e2e4e7;
	outline: none;
}
