html {
	scroll-behavior: smooth;
}

@media screen and (max-width: 400px) {

	.wrap {
		margin-left: 0;
		margin-right: 10px;
	}
}

@media screen and (min-width: 401px) and (max-width: 782px) {

	.wrap {
		margin-left: 10px;
		margin-right: 20px;
	}
}

#amp-settings {
	max-width: 1060px;
	margin: 0 auto 6rem;
}

#amp-settings > h1 {
	font-family: var(--font-poppins);
	font-size: 1.682rem;
	font-weight: 600;
	margin-bottom: 0.55rem;
}

#amp-settings .not-has-dependency-support {
	margin-bottom: 2.5rem;
}

/* Welcome section. */
.settings-welcome {
	margin-bottom: 2.5rem;
}

.settings-welcome p {
	font-size: 14px;
}

.settings-welcome h2 {
	align-items: center;
	display: flex;
	font-size: 1rem;
	margin-bottom: 0;
	margin-top: 0;
}

.settings-welcome h2 svg {
	margin-left: 0.5rem;
}

.settings-welcome .selectable {
	align-items: center;
	display: flex;
	flex-direction: column;

	@media (min-width: 783px) {
		flex-direction: row;
	}
}

.settings-welcome__illustration {
	display: none;
	margin-right: 2rem;

	@media (min-width: 783px) {
		display: block;
	}
}

.amp .settings-welcome__button.is-primary {
	box-shadow: none;
	margin-right: 1rem;
}

.settings-welcome__body h2 {
	margin-bottom: 1rem;
}

.settings-welcome__body p {
	margin: 0;
}

.settings-welcome__body .components-button {
	margin-top: 1rem;
}

/* Supported templates section. */
.supported-templates {
	margin-bottom: 3rem;
	padding: 0 1.5rem;

	@media (min-width: 783px) {
		padding: 0 3rem;
	}
}

.supported-templates h4 {
	font-size: 1rem;
}

.supported-templates p {
	font-size: 14px;
}

.mobile-redirection,
.plugin-suppression {
	margin-bottom: 1rem;
}

.template-modes {
	margin-bottom: 2.5rem;
}

.template-modes > h2 + .amp-notice {
	margin-bottom: 0.5rem;
}

.template-modes .template-mode-option {
	margin-bottom: 0.5rem;
}

.amp.amp-settings .template-mode-option > p {
	font-size: 16px;
	margin-bottom: 1rem;
}

.template-modes > p,
.amp .form-table .amp-suppressed-plugins p {
	font-size: 14px;
}

/* Plugin suppression */
.plugin-suppression > p {
	font-size: 14px;
}

#suppressed-plugins-table {
	margin-top: 20px;
}

#suppressed-plugins-table th {
	font-weight: 400;
}

#suppressed-plugins-table th,
#suppressed-plugins-table td {
	padding: 10px;
}

#suppressed-plugins-table .column-status {
	width: 150px;
}

#suppressed-plugins-table .column-status .components-base-control__field {
	margin-bottom: 0;
}

#suppressed-plugins-table .column-status > select {
	width: 100%;
}

#suppressed-plugins-table .column-plugin {
	width: 45%;
}

#suppressed-plugins-table .column-plugin .plugin-author-uri {
	margin-top: 0;
}

#suppressed-plugins-table .column-details {
	width: 50%;
}

#suppressed-plugins-table .column-details p {
	margin: 0;
}

#suppressed-plugins-table tbody th,
#suppressed-plugins-table tbody td {
	vertical-align: top;
}

#suppressed-plugins-table tbody tr.has-validation-errors {
	background-color: #fef7f1;
}

#suppressed-plugins-table tbody tr.is-suppressed {
	background-color: #effbff;
}

#suppressed-plugins-table tbody tr:not(.has-border-color) > th.column-status {
	padding-left: 10px;
}

#suppressed-plugins-table tbody tr.has-border-color > th.column-status {
	border-left: solid 4px;
	padding-left: 6px;
}

#suppressed-plugins-table tbody tr.has-validation-errors > th.column-status {
	border-color: #d54e21;
}

#suppressed-plugins-table tbody tr.is-suppressed > th.column-status {
	border-color: var(--amp-settings-color-brand);
}

#suppressed-plugins-table tbody tr:not(:last-child) > th,
#suppressed-plugins-table tbody tr:not(:last-child) > td {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#suppressed-plugins-table details > ul {
	margin-left: 30px;
	margin-top: 0.5em;
	margin-bottom: 0;
	list-style-type: disc;
}

#suppressed-plugins-table details {
	margin: 0;
}

#suppressed-plugins-table summary {
	user-select: none;
	cursor: pointer;
}

#suppressed-plugins-table tbody .column-plugin,
#suppressed-plugins-table tbody .column-details {
	padding-top: 18px;
}

#suppressed-plugins-table .column-plugin .error-details {
	display: none;
}

li.error-removed {
	color: var(--color-valid);
}

li.error-kept {
	color: var(--amp-settings-color-danger);
}

@media screen and (max-width: 782px) {

	#suppressed-plugins-table .column-status {
		width: 130px;
	}

	#suppressed-plugins-table .column-plugin {
		width: auto;
	}

	#suppressed-plugins-table .column-plugin .error-details {
		display: block;
		margin-top: 10px;
		border-top: dotted 1px #ccd0d4;
		padding-top: 10px;
	}

	#suppressed-plugins-table .column-details {
		display: none;
	}

	#suppressed-plugins-table .column-status .components-select-control__input {
		font-size: inherit;
	}

	#suppressed-plugins-table tbody .column-plugin,
	#suppressed-plugins-table tbody .column-details {
		padding-top: 21px;
	}

	#suppressed-plugins-table {
		display: table;
	}

	#suppressed-plugins-table th,
	#suppressed-plugins-table td {
		display: table-cell;
	}
}

/* Supported templates. */
#supported_templates_fieldset ul ul {
	margin-left: 40px;
}

.supported-templates__fields {
	display: grid;
	gap: 0;
}

@media (min-width: 783px) {

	.supported-templates__fields {
		gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

.amp .amp-save-success-notice.amp-notice,
.amp-error-notice .amp-notice {
	bottom: 3rem;
	padding-left: 1.5rem;
	padding-right: 3rem;
	z-index: 99;
}

.amp-settings-nav .components-button.is-primary {
	box-shadow: none;
}

@media (min-width: 783px) {

	.amp-settings-nav {
		left: 160px;
	}

	.wp-admin.folded .amp-settings-nav,
	.wp-admin.auto-fold .amp-settings-nav {
		left: 36px;
	}
}

@media (min-width: 961px) {

	.wp-admin.auto-fold:not(.folded) .amp-settings-nav {
		left: 160px;
	}
}

#template-mode-reader-container {
	margin-bottom: 0;
}

#template-mode-reader-container.selectable.selectable--selected {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

#reader-themes {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top-width: 0;
}

#reader-themes .amp-drawer__heading {
	align-items: center;
	display: flex;
	padding-left: 1.5rem;
	padding-right: var(--panel-button-width);

	@media (min-width: 783px) {
		padding-left: 3rem;
	}
}

#plugin-suppression .amp-drawer__panel-body-inner,
.amp-analytics .amp-drawer__panel-body-inner,
#paired-url-structure .amp-drawer__panel-body-inner {
	padding: 1.5rem 1.5rem 3rem;

	@media (min-width: 783px) {
		padding: 1.5rem 3rem 3rem;
	}
}

#plugin-suppression .amp-drawer__panel-body-inner > p,
#paired-url-structure .amp-drawer__panel-body-inner > p,
.amp-analytics .amp-drawer__panel-body-inner p,
#paired-url-structure .amp-drawer__panel-body-inner {
	margin-top: 0;
	font-size: 14px;
}

#paired-url-structure .amp-drawer__panel-body-inner .amp-notice {
	margin-bottom: 1em;
}

#paired-url-structure .amp-drawer__panel-body-inner .amp-notice ul {
	margin-top: 1rem;
}

#paired-url-structure .amp-drawer__panel-body-inner .amp-notice li {
	list-style: disc;
	margin: 0;
}

.amp-drawer__panel-body-inner .amp-paired-url-examples {
	margin-top: 0.5em;
	margin-bottom: 0;
}

.amp-drawer__panel-body-inner .amp-paired-url-example {
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.5;
}

#paired-url-structure ul {
	margin-top: 1.5rem;
}

#paired-url-structure .amp-notice--large {
	align-items: start;
}

#paired-url-structure .amp-drawer__panel-body-inner li {
	margin-top: 1em;
}

#paired-url-structure .amp-drawer__panel-body-inner li:first-child {
	margin-top: 0;
}

#paired-url-structure .amp-drawer__panel-body-inner li .amp-paired-url-examples {
	margin-left: 34px;
	margin-bottom: 0;
}

#paired-url-structure .amp-paired-url-examples summary {
	padding-right: 4px;
	user-select: none;
}

#paired-url-structure .amp-drawer__panel-body-inner input {
	margin-right: 8px;
}

#analytics-options details > summary {
	font-size: 14px;
}

#analytics-options details > p {
	margin-top: 1em;
}

#analytics-options .components-button:not(.components-panel__body-toggle) svg {
	display: block;
}

.amp-analytics-entry {
	flex-direction: column;
	align-items: flex-start;
	padding: 0 1rem;
	margin-bottom: 1.5rem;
	border: 1px solid var(--amp-settings-color-border);

	@media (min-width: 783px) {
		padding: 1.5rem 2.25rem;
	}
}

.amp-analytics-entry__text-inputs {
	display: flex;
	flex-wrap: wrap;
}

.amp .amp-analytics-entry__text-inputs .components-base-control__field {
	align-items: center;
	display: flex;
	margin-bottom: 0.75rem;
	min-width: 240px;
	padding-right: 2rem;
}

.amp-analytics-entry__text-inputs .components-base-control__label {
	margin-bottom: 0;
}

.amp-analytics-entry .amp-notice {
	margin-bottom: 0.75rem;
}

.amp-analytics-input {
	font-family: monospace;
	tab-size: 4;
	width: 100%;
}

.amp-analytics-input:invalid,
.components-text-control__input:invalid {
	border-color: var(--amp-settings-color-danger);
}

.options-validation-errors {
	color: var(--amp-settings-color-danger);
}

.amp .components-button.amp-analytics__delete-button {
	color: var(--amp-settings-color-black);
	font-size: 14px;
	margin-left: auto;
}

.amp .components-button.is-link.amp-analytics__delete-button:active,
.amp .components-button.is-link.amp-analytics__delete-button:focus,
.amp .components-button.is-link.amp-analytics__delete-button:hover {
	color: var(--amp-settings-color-danger);
}

.amp .components-button.is-link.amp-analytics__delete-button:focus {
	outline-color: var(--amp-settings-color-danger);
}

.amp .amp-analytics__delete-button svg {
	margin-right: 0.5rem;
}

.amp .amp-analytics__entry-appender.components-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 14px;
	outline: 1px dashed var(--amp-settings-color-border);
	width: 100%;
	height: auto;
	color: var(--amp-settings-color-black);
	background: rgba(237, 239, 240, 0.8);
}

.amp .amp-analytics__entry-appender.components-button svg {
	display: block;
	margin-left: 0;
	height: 24px;
	width: 24px;
}

.notice p {
	font-size: 13px;
}
