.settings-welcome .selectable {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;

	@media (min-width: 783px) {
		flex-direction: row;
	}
}

.settings-welcome__illustration {
	margin-bottom: 2rem;

	@media (min-width: 783px) {
		margin-right: 2rem;
	}
}

.settings-welcome__button {


	@media (min-width: 783px) {
		padding-left: 1rem;
		padding-right: 1.5rem;
	}
}
