#amp-story-controls .editor-inserter__amp-inserter {
	height: 48px;
	width: 48px;
	background-color: theme(primary);
	border-radius: 50%;
	margin-right: 10px;
}

#amp-story-controls .editor-inserter__amp-inserter svg {
	margin: 0 auto;
}
