.done {
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 1280px) {
		flex-wrap: nowrap;
	}
}

.done__text {
	width: 100%;
	padding-bottom: 30px;

	@media screen and (min-width: 1280px) {
		padding-right: 30px;
	}
}

.done__text h1 {
	text-align: center;
}

.done__text .svg-done {
	display: block;
	width: 150px;
	height: auto;
	margin: 0 auto;
}

.done__link-buttons a:not(:last-child) {
	margin-right: 15px;
}


.done__preview-container {
	text-align: center;

	@media screen and (max-width: 1279px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.done__preview-container .amp-notice {
	margin-bottom: 1.5rem;
}

.done__preview-container .phone {
	height: auto;
	padding-bottom: 2rem;
}

.done__preview-container .phone::before {
	height: 9px;
	width: 80px;
}

.done__preview-iframe {
	height: 610px;
	width: 400px;

	@media screen and (max-width: 600px) {
		width: 300px;
	}
}

.done__preview-container .components-button {
	margin-top: 0.5rem;
	margin-bottom: 0.75rem;
}

.saving {
	border-bottom: 2px solid #d3d9dd;
	margin: 0 auto;
	max-width: 800px;
	padding: 3rem;
	text-align: center;
	width: 100%;
}
