/**
 * Nav component.
 */
.amp-setup-nav {
	align-items: center;
	background: var(--white);
	bottom: 0;
	box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.05);
	display: flex;
	justify-content: flex-end;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 2;
}

.amp-setup-nav__inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1320px;
	padding: 15px;
	width: 100%;

	@media screen and (min-width: 783px) {
		padding: 40px 90px;
	}
}

.amp-setup-nav__prev-next {
	display: flex;
}

.amp-setup-nav__prev-next > * {
	align-items: center;
	display: flex;
	height: 36px;
}

.amp-setup-nav__prev-next svg {
	display: none;
	margin-left: 0.5rem;
	height: 18px;
	width: 18px;

	@media screen and (min-width: 783px) {
		display: block;
	}
}

.amp-setup-nav__prev {
	margin-right: 5px;
}

.amp-setup-nav__prev svg {
	transform: rotate(180deg);
	margin-left: 0;
	margin-right: 0.5rem;
}

.amp-setup-nav__close {
	align-items: center;
	display: flex;
}

.amp-setup-nav__close svg {
	margin-right: 0.5rem;
}
