/* Hide default block mover to show ours instead */
.block-editor-block-list__block > .block-editor-block-list__block-edit > .block-editor-block-mover {
	display: none !important;
}

.components-draggable__clone .block-editor-block-list__block .rotatable-box-wrap {
	display: none;
	opacity: 0;
}

.editor-inner-blocks .block-editor-block-list__block.is-rotating .block-editor-block-list__insertion-point,
.editor-inner-blocks .block-editor-block-list__block.is-rotating .block-editor-block-list__breadcrumb,
.editor-inner-blocks .block-editor-block-list__block.is-rotating .block-editor-block-contextual-toolbar,
.block-editor-block-list__layout .block-editor-block-list__block.is-rotating > .block-editor-block-list__block-edit::before {
	display: none !important;
}

.block-editor-block-list__block .rotatable-box-wrap {
	box-shadow: -1px 0 rgba(66,88,99,.4);
	width: 0;
	height: 25px;
	position: absolute;
	bottom: -40px;
	margin-left: 50%;
	border-left: 1px solid theme( outlines );
}

.block-editor-block-list__block .rotatable-box-wrap .rotatable-box-wrap__handle {
	display: block;
	opacity: 1;
	transition: opacity .3s;
	position: absolute;
	bottom: -20px;
	left: calc(50% - 26px);
	width: 50px;
	height: 24px;
	padding: 4px;
	cursor: move;
	background: transparent;
	border: none;
}

.rotatable-box-wrap .rotatable-box-wrap__handle::before {
	background: theme( primary );
	border: 2px solid #fff;
	border-radius: 50%;
	content: "";
	cursor: inherit;
	display: block;
	height: 16px;
	width: 16px;
	margin: 0 auto;
}


.wp-block .rotatable-box-wrap,
.wp-block.is-typing .rotatable-box-wrap{
	display: block;
	opacity: 0;
	transition: opacity .3s;
}

.wp-block.amp-page-active .wp-block:hover .rotatable-box-wrap,
.wp-block.amp-page-active .wp-block .rotatable-box-wrap:hover,
.wp-block.amp-page-active .wp-block.is-rotating .rotatable-box-wrap {
	opacity: 1;
}
.wp-block.amp-page-active .wp-block.is-rotating:hover .components-resizable-box__handle,
.wp-block.amp-page-active .wp-block.is-rotating .components-resizable-box__handle:hover {
	opacity: 0;
}
