.reader-theme-selection {
	padding: 1.5rem;

	@media (min-width: 783px) {
		padding: 1.5rem 3rem;
	}
}

.reader-theme-selection .amp-notice--info {
	margin-bottom: 0.75rem;
}

.reader-theme-selection p {
	margin-top: 0;
	font-size: 14px;
}

.reader-theme-selection .amp-setting-toggle {
	margin: 1rem 0 0.5rem;
}

.choose-reader-theme__unavailable .choose-reader-theme__grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.amp-carousel__page {
	display: grid;
	gap: 60px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

.reader-theme-selection .theme-card {
	margin: 0 auto;
	width: 275px;
}
