.reader-theme-selection {
	padding: 1.5rem;

	@media (min-width: 783px) {
		padding: 3rem;
	}
}

.choose-reader-theme__unavailable .choose-reader-theme__grid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(4, 1fr);

}
