#amp-story-right-click-menu {
	position: absolute;
}

#amp-story-right-click-menu .amp-story-right-click-menu__popover {
	position: absolute;
	top: 0 !important;
	/*!rtl:ignore*/
	left: 0 !important;
}

.amp-story-right-click-menu__popover.is-top.is-from-bottom .components-popover__content {
	margin-bottom: -8px;
}

.amp-right-click-menu__container {
	position: absolute;
}
