html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

body * {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#header {
	height: 32px;
	background-color: #0075c2;
}

#header * {
	color: #fff;
}

#header ul {
	display: flex;
	margin: 0 10px;
	padding: 0 40px;
	list-style: none;
	height: 100%;
}

#header li {
	align-items: center;
	display: flex;
	line-height: 1.5;
}

#header li:first-child img {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 0.5rem;
}

#header li:last-child {
	margin-left: auto;
}

#exit-link {
	text-decoration: none;
}

#exit-link::before {
	text-decoration: none;
	vertical-align: text-top;
}

#exit-link:hover {
	text-decoration: underline;
}

#non-amp,
#amp {
	flex: 1 0 auto;
	align-self: stretch;
}

.container {
	display: flex;
	height: 100%;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

iframe.disconnected {
	opacity: 0.5;
}

.skip-link {
	position: absolute;
	left: -9999rem;
	top: 2.5rem;
	z-index: 999999999;
}

.skip-link:focus {
	display: block;
	left: 6px;
	top: 7px;
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
	padding: 15px 23px 14px;
	z-index: 100000;
	right: auto;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto;
	clip-path: none;
	color: #0075c2;
	height: auto;
	width: auto;
}
