html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

body * {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#header {
	height: 32px;
	background-color: #0075c2;
}

#header * {
	color: #fff;
}

#header ul {
	display: flex;
	margin: 0 10px;
	padding: 0 40px;
	list-style: none;
	align-items: center;
	height: 100%;
}

#header li {
	margin: 0 5px;
}

#header li:last-child {
	margin-left: auto;
}

#exit-link {
	text-decoration: none;
}

#header img {
	display: block;
	width: 24px;
}

#amp::before {
	content: "AMP";
}

#non-amp::before {
	content: "non-AMP";
}

#non-amp,
#amp {
	flex: 1 0 auto;
	align-self: stretch;
}

.container {
	display: flex;
	height: 100%;
}

.container > div::before {
	opacity: 0.8;
	font-size: 5em;
	font-weight: 800;
	position: absolute;
	top: 50%;
	width: 50%;
	text-align: center;
	pointer-events: none;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

iframe.disconnected {
	opacity: 0.5;
}
