.amp-story-reorderer {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 169px);
	grid-gap: 0;
	justify-content: space-between;
}

.amp-story-reorderer .amp-story-reorderer-item {
	margin: 0 auto 10px;
	width: 100%;
	position: relative;
}

.amp-story-reorderer .amp-story-reorderer-item .amp-story-reorderer-item-page {
	max-width: 165px;
	height: 270px;
}

.amp-story-reorderer .block-editor-block-preview .block-editor-block-preview__content .components-disabled {
	transform: initial;
	text-align: initial;
}

.amp-story-reorderer .block-editor-block-list__layout .block-editor-block-list__block {
	padding: 0;
}

.amp-story-reorderer .editor-block-list__layout.block-editor-block-list__layout,
.amp-story-reorderer .editor-inner-blocks.block-editor-inner-blocks {
	height: 100%;
	padding: 0;
}

.amp-story-reorderer .components-disabled,
.amp-story-reorderer .components-disabled div:first-of-type {
	padding: 0;
	width: 100%;
	height: 100%;
}

.amp-story-reorderer .amp-story-reorderer-item .amp-story-reorderer-item-page .wp-block {
	--preview-scale: 0.47;
	--preview-translateX: -40%;
	--preview-translateY: -70%;
	position: absolute;
	transform: scale(var(--preview-scale)) translateX(var(--preview-translateX)) translateY(var(--preview-translateY)),;
}

.amp-story-reorderer .block-editor-block-list__layout > .block-editor-block-list__block > .block-editor-block-list__block-edit {
	margin-top: 0;
	margin-bottom: 0;
}

@media (min-width: 600px) {

	.amp-story-reorderer .block-editor-block-list__block-edit {
		margin-left: -50px;
		margin-right: -50px;
	}
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone {
	border: none;
	border-radius: 0;
	background: transparent;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-active {
	opacity: 0;
	visibility: hidden;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-page,
.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element {
	opacity: 1;
	visibility: visible;
	transition: opacity .3s, background-color .3s;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-page {
	background: #eff0f1;
	border: none !important;
	margin: 0 10px;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element.is-close-to-right {
	border-right: 3px solid #0071a1;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element.is-close-to-left {
	border-left: 3px solid #0071a1;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone__content,
.amp-story-reorderer .amp-story-reorderer-item .is-dragging-over-element .components-drop-zone__content {
	display: none;
}

.amp-story-reorderer .amp-story-page-preview {
	border: 5px solid #eff0f1;
	border-radius: 5px;
	background: #fff;
	width: 100%;
	height: 100%;
	cursor: grab;
	overflow: hidden;
}

#amp-story-editor .amp-story-reorderer .components-draggable__clone {
	position: fixed;
}

.amp-story-reorderer .amp-story-page-preview .editor-styles-wrapper {
	margin: 0;
	height: 260px;
}

.amp-story-reorderer .amp-story-page-preview .editor-block-list__layout {
	padding: 0;
}

.amp-story-reorderer .amp-story-page-preview .block-list-appender {
	display: none;
}
