.review {
	display: grid;
	grid-gap: 30px;

	@media screen and (min-width: 1280px) {
		grid-template-columns: auto auto;
		grid-template-rows: 1fr auto;
	}
}

.review__content {

	@media screen and (min-width: 1280px) {
		grid-column: 1 / 2;
	}
}

.review__content--primary {

	@media screen and (min-width: 1280px) {
		grid-row: 1 / 2;
	}
}

.review__content--secondary {

	@media screen and (min-width: 1280px) {
		grid-row: 2 / 3;
	}
}

.review__list {
	font-size: var(--amp-settings-font-size);
	list-style: disc;
	padding-left: 30px;
}

// Preview page selector.
.review__preview-page-selector-label {
	align-items: baseline;
	color: var(--amp-settings-color-muted);
	display: flex;
	flex-flow: row nowrap;
	padding: 15px 0 14px;

	&.is-selected,
	&:hover {
		color: var(--amp-settings-color-black);
	}

	& + & {
		border-top: 1px solid var(--amp-settings-color-border);
	}

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.review__preview-page-selector-input {
	margin-right: 20px;
}

.amp .review__preview-page-selector-title {
	color: inherit;
	font-size: 16px;
}

// Preview mode selector.
.review__preview-mode-selector {
	display: flex;
	flex-flow: row nowrap;
}

.review__preview-mode-selector-input {
	margin-right: 10px;
}

.review__preview-mode-selector-label {
	align-items: baseline;
	color: var(--amp-settings-color-muted);
	display: flex;
	flex-flow: row nowrap;
	padding: 20px 0;

	&.is-selected,
	&:hover {
		color: var(--amp-settings-color-black);
	}

	& + & {
		margin-left: 25px;
	}
}

.amp .review__preview-mode-selector-title {
	color: inherit;
	font-size: 15px;
}

// Preview container.
.review__preview-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@media screen and (min-width: 1280px) {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}

	.amp-notice {
		margin-bottom: 1.5rem;
	}

	.phone {
		height: auto;
		padding-bottom: 2rem;

		&::before {
			height: 9px;
			width: 80px;
		}
	}
}

.review__preview-iframe {
	height: 610px;
	width: 400px;

	@media screen and (max-width: 600px) {
		width: 300px;
	}
}

.saving {
	border-bottom: 2px solid #d3d9dd;
	margin: 0 auto;
	max-width: 800px;
	padding: 3rem;
	text-align: center;
	width: 100%;
}
