.review {
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 1280px) {
		flex-wrap: nowrap;
	}
}

.review__content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	padding-bottom: 30px;
	width: 100%;

	@media screen and (min-width: 1280px) {
		padding-right: 30px;
	}
}

.review__list {
	font-size: var(--amp-settings-font-size);
	list-style: disc;
	padding-left: 30px;
}

.review__preview-container {
	text-align: center;

	@media screen and (max-width: 1279px) {
		margin-left: auto;
		margin-right: auto;
	}
}

.review__preview-container .amp-notice {
	margin-bottom: 1.5rem;
}

.review__preview-container .phone {
	height: auto;
	padding-bottom: 2rem;
}

.review__preview-container .phone::before {
	height: 9px;
	width: 80px;
}

.review__preview-iframe {
	height: 610px;
	width: 400px;

	@media screen and (max-width: 600px) {
		width: 300px;
	}
}

.saving {
	border-bottom: 2px solid #d3d9dd;
	margin: 0 auto;
	max-width: 800px;
	padding: 3rem;
	text-align: center;
	width: 100%;
}
