.review {
	display: grid;
	grid-gap: 15px 45px;

	@media screen and (min-width: 1280px) {
		grid-template-columns: auto auto;
		grid-template-rows: auto 1fr auto;
	}
}

.review__heading {
	margin: 0;

	@media screen and (min-width: 1280px) {
		grid-column: 1 / 3;
	}
}

.review__content {

	@media screen and (min-width: 1280px) {
		grid-column: 1 / 2;
	}
}

.review__content--primary {

	@media screen and (min-width: 1280px) {
		grid-row: 2 / 3;
	}
}

.review__content--secondary {

	@media screen and (min-width: 1280px) {
		grid-row: 3 / 4;
	}
}

.review__icon-title {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	line-height: 1.25;

	svg {
		flex: 0 0 auto;
		height: auto;
		margin-right: 25px;
		width: 40px;
	}
}

.review__links-container {
	margin: 25px auto;
	max-width: 400px;
}

.review__list {
	font-size: var(--amp-settings-font-size);
	list-style: disc;
	padding-left: 30px;
}

// Preview container.
.review__preview-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	@media screen and (min-width: 1280px) {
		grid-column: 2 / 3;
		grid-row: 2 / 4;
	}

	.amp-setting-toggle {
		margin: 20px 0;
	}

	.amp-notice {
		margin-bottom: 1.5rem;
	}

	.phone {
		height: auto;
		padding-bottom: 2rem;

		&::before {
			height: 9px;
			width: 80px;
		}
	}
}

.review__preview-iframe {
	height: 610px;
	width: 400px;

	@media screen and (max-width: 600px) {
		width: 300px;
	}
}

.saving {
	border-bottom: 2px solid #d3d9dd;
	margin: 0 auto;
	max-width: 800px;
	padding: 3rem;
	text-align: center;
	width: 100%;

	h1 {
		margin-top: 0.67em;
	}
}
