.technical-background__header {
	margin-bottom: 1.75rem;
	padding-bottom: 1.75rem;
	padding-top: 2.25rem;
	text-align: center;
	border-bottom: 2px solid #d3d9dd;
}

.technical-background__header p {
	font-size: 15px;
	margin: 0 auto;
	max-width: 540px;
}

.technical-background-option-container {
	margin-bottom: 2rem;
	padding: 1.5rem 0;
}

.technical-background-option {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 783px) {
		flex-wrap: nowrap;
	}
}

.technical-background-option__input-container {
	padding: 1.5rem;
}

.technical-background-option svg {
	flex-shrink: 0;
	height: auto;
	margin-bottom: 1.5rem;
	width: 66px;
}

.technical-background-option__description {
	padding: 0 2rem;
}

.technical-background-option__description p {
	font-size: 14px;
}

.technical-background-option__description h2 {
	font-size: 1.5rem;
	line-height: 1.3;
	margin-top: 0;
	margin-bottom: 0;
}
