.technical-background__header {
	margin-bottom: 1.75rem;
	padding-bottom: 1.75rem;
	border-bottom: 2px solid #d3d9dd;
}

.technical-background__header p {
	font-size: 14px;
	margin: 0;
}

.technical-background-option-container {
	margin-bottom: 2rem;
	padding: 1.5rem 0;
}

.technical-background-option {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;

	@media screen and (min-width: 783px) {
		align-items: center;
		flex-wrap: nowrap;
	}
}

.technical-background-option__input-container {
	padding: 1.5rem;
}

.technical-background-option svg {
	flex-shrink: 0;
	height: auto;
	margin-bottom: 1rem;
	width: 66px;

	@media screen and (min-width: 783px) {
		margin-bottom: 0;
	}
}

.technical-background-option__description {
	padding: 0 2rem;
}

.technical-background-option__description p {
	font-size: 14px;
}

.technical-background-option__description h2 {
	font-family: "Noto Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5;

	@media screen and (max-width: 782px) {
		margin-top: 0;
	}
}
