// Grey background and bold title to indicate new errors.
.wp-list-table.table-view-list > tbody {

	td,
	.row-title {
		color: #1e1e1e;
	}

	> tr {

		&,
		&.expanded + .details {
			background-color: #f4f4f4;
		}

		&.new,
		&.new.expanded + .details {
			background-color: #fff;
		}
	}

	> tr {

		.row-title,
		.column-primary > :first-child {
			font-weight: 400;
		}

		&.new {

			.row-title,
			.column-primary > :first-child {
				font-weight: 600;
			}
		}
	}
}
