// Row left border indicating error status.
.wp-list-table.table-view-list > tbody > tr {

	&.expanded:not(.kept) + tr > :first-child {
		padding-left: 10px + 4px; // Push the details content by 4px (border width) so that it aligns with the title row.
	}

	&.kept {

		> :first-child,
		&.expanded + tr > :first-child {
			border-left: 4px solid #d54e21;
		}

		.check-column input {
			margin-left: 4px;
		}
	}
}
