#amp-story-shortcuts {
	display: inline-flex;
}

#amp-story-controls {
	text-align: right;
	padding-right: 20px;
}

.amp-story-controls-reorder {
	box-sizing: border-box;
	height: 49px;
	width: 49px;
	border: 1px solid #aaaeb3;
	border-radius: 50%;
}

#amp-story-controls .amp-story-controls-reorder {
	display: inline-block;
	line-height: 1;
}

.amp-story-controls-reorder-cancel {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	display: inline-flex;
}

.amp-story-controls-reorder-save {
	float: right;
}
