* {
	box-sizing: border-box;
}


.error-screen-container {
	margin: 3rem auto;
	max-width: 600px;
	padding: 1.5rem;
	width: 100%;
}

.error-screen {
	padding: 2.25rem;
	width: 100%;
}

.error-screen h1 {
	line-height: 1.19;
}
