.components-background-color-popover-content {
	padding: 16px;
}

.components-background-color-indicator {
	position: absolute;
	background: transparent;
	height: 3px;
	width: 20px;
	bottom: 6px;
	left: auto;
	right: auto;
	margin-left: -1px;
}

.components-background-color-indicator::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
