<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<!-- Default test suite to run all tests -->
		<testsuite name="default">
			<directory suffix="Test.php" >./tests/php/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./</directory>
			<exclude>
				<directory suffix=".php">assets</directory>
				<directory suffix=".php">bin</directory>
				<directory suffix=".php">build</directory>
				<directory suffix=".php">node_modules</directory>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
