[data-reach-combobox-input] {
	width: 300px !important;
}

[data-reach-combobox-popover] {
	color: #222;
	width: 100% !important;
	position: absolute !important;
}

[data-reach-combobox-popover]:hover {
	color: #222 !important;
}

[data-reach-combobox-option] {
	padding: 0.25rem 0.5rem !important;
}

[data-reach-combobox-option]:hover {
	background: hsl(211, 10%, 92%) !important;
}

[data-suggested-value] {
	font-weight: bold !important;
}
