<!-- wp:amp/amp-story-page {"mediaType":"image","backgroundColors":"[{\u0022color\u0022:\u0022#313131\u0022}]","overlayOpacity":55} -->
<amp-story-page style="background-color:#ffffff" id="038df815-5dc9-4105-bbca-77242ca79085" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill"><img layout="fill" src="AMP_STORY_TEMPLATES_URL/fandom-title.jpg" object-position="initial"/></amp-story-grid-layer><amp-story-grid-layer template="fill" style="background-color:#313131;opacity:0.55"></amp-story-grid-layer>
    <!-- wp:amp/amp-story-text {"type":"p","className":"is-style-rounded","customTextColor":"#ffffff","customBackgroundColor":"#e44240","autoFontSize":10,"positionTop":52.26,"positionLeft":6.1,"height":30,"width":111} -->
    <p style="background-color:rgba(228, 66, 64, 1);color:#ffffff;display:flex" class="wp-block-amp-amp-story-text is-style-rounded has-text-color has-background is-style-rounded"><amp-fit-text layout="flex-item" class="amp-text-content">SPOILERS ALERT</amp-fit-text></p>
    <!-- /wp:amp/amp-story-text -->

    <!-- wp:amp/amp-story-post-title {"align":"left","customTextColor":"#ffffff","autoFontSize":30,"positionTop":61,"positionLeft":3,"height":116,"width":294} -->
    <h1 style="color:#ffffff;text-align:left" class="wp-block-amp-amp-story-post-title has-text-color"><amp-fit-text layout="flex-item" class="amp-text-content">{content}</amp-fit-text></h1>
    <!-- /wp:amp/amp-story-post-title -->

    <!-- wp:amp/amp-story-post-author {"customTextColor":"#ffffff","autoFontSize":14,"positionTop":87,"positionLeft":6,"height":30,"width":70} -->
    <div style="color:#ffffff" class="wp-block-amp-amp-story-post-author has-text-color"><amp-fit-text layout="flex-item" class="amp-text-content">{content}</amp-fit-text></div>
    <!-- /wp:amp/amp-story-post-author -->

    <!-- wp:amp/amp-story-post-date {"customTextColor":"#ffffff","autoFontSize":14,"positionTop":87,"positionLeft":30,"height":30,"width":142} -->
    <div style="color:#ffffff" class="wp-block-amp-amp-story-post-date has-text-color"><amp-fit-text layout="flex-item" class="amp-text-content">{content}</amp-fit-text></div>
    <!-- /wp:amp/amp-story-post-date --></amp-story-page>
<!-- /wp:amp/amp-story-page -->
