<!-- wp:amp/amp-story-page {"mediaType":"image","backgroundColors":"[{}]"} -->
<amp-story-page style="background-color:#ffffff" id="150fd056-a21a-4273-962b-59e2ea7e778c" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill"><img layout="fill" src="AMP_STORY_TEMPLATES_URL/fandom-cta.jpg" object-position="initial"/></amp-story-grid-layer><amp-story-grid-layer template="fill" style="opacity:1"></amp-story-grid-layer>
    <!-- wp:amp/amp-story-text {"tagName":"h2","align":"center","customTextColor":"#ffffff","autoFontSize":23,"positionTop":46,"positionLeft":8,"height":94,"width":275} -->
    <h2 style="color:#ffffff;text-align:center;display:flex" class="wp-block-amp-amp-story-text has-text-color"><amp-fit-text layout="flex-item" class="amp-text-content">Check your knowledge in Game of Thrones fan-made Trivia!</amp-fit-text></h2>
    <!-- /wp:amp/amp-story-text -->

    <!-- wp:amp/amp-story-cta {"opacity":25,"customBackgroundColor":"#000000","btnPositionLeft":30.18} -->
    <amp-story-cta-layer class="wp-block-amp-amp-story-cta" id="f165e35a-5b53-49a6-88ea-c66a8bc1be61"><a class="amp-block-story-cta__link amp-text-content has-text-color has-background" style="background-color:rgba(0, 0, 0, 0.25);color:#ffffff;left:30.18%;"><strong>S</strong>tart Quiz</a></amp-story-cta-layer>
    <!-- /wp:amp/amp-story-cta --></amp-story-page>
<!-- /wp:amp/amp-story-page -->
