
<!-- wp:amp/amp-story-page {"mediaType":"image"} -->
<amp-story-page style="background-color:#ffffff" id="2b00d8e6-5788-41a1-b7cf-d742b60306bd" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill"><amp-img layout="fill" src="AMP_STORY_TEMPLATES_URL/intro-bg.jpg" style="object-position:initial"></amp-img></amp-story-grid-layer><amp-story-grid-layer template="fill"></amp-story-grid-layer>
    <!-- wp:image {"width":322,"height":200,"positionTop":63.29,"positionLeft":0.91} -->
    <amp-story-grid-layer data-block-name="core/image" template="vertical"><div class="amp-story-block-wrapper" style="position:absolute;top:63.29%;left:0.91%;width:98.17%;height:36.17%"><figure class="wp-block-image is-resized" id="4b0cde59-6334-43d8-b099-9cc2e6cbfb3e"><img src="AMP_STORY_TEMPLATES_URL/got-logo.png" alt="" width="322" height="200"/></figure></div></amp-story-grid-layer>
    <!-- /wp:image -->
</amp-story-page>
<!-- /wp:amp/amp-story-page -->
