
<!-- wp:amp/amp-story-page {"mediaType":"image"} -->
<amp-story-page style="background-color:#ffffff" id="2b00d8e6-5788-41a1-b7cf-d742b60306bd" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill"><img layout="fill" src="AMP_STORY_TEMPLATES_URL/intro-bg.jpg" object-position="initial"/></amp-story-grid-layer><amp-story-grid-layer template="fill"></amp-story-grid-layer>
    <!-- wp:image {"width":322,"height":200,"positionTop":63.29,"positionLeft":0.91} -->
    <figure class="wp-block-image is-resized"><img src="AMP_STORY_TEMPLATES_URL/got-logo.png" alt="" width="322" height="200"/></figure>
    <!-- /wp:image -->
</amp-story-page>
<!-- /wp:amp/amp-story-page -->
