<!-- wp:amp/amp-story-page {"mediaType":"image","autoAdvanceAfterDuration":0,"backgroundColors":"[{\u0022color\u0022:\u0022#8c58e3\u0022},{\u0022color\u0022:\u0022#fff9e5\u0022}]"} -->
<amp-story-page style="background-color:#ffffff" id="5da957b0-ee47-4f6c-9eff-79dd82e13f26" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill"><amp-img layout="fill" src="AMP_STORY_TEMPLATES_URL/quote-bg.jpg" style="object-position:initial"></amp-img></amp-story-grid-layer><amp-story-grid-layer template="fill" style="background-image:linear-gradient(to bottom, #8c58e3, #fff9e5);opacity:1"></amp-story-grid-layer>

    <!-- wp:image {"width":322,"height":200,"positionTop":63.29,"positionLeft":0.91} -->
    <amp-story-grid-layer data-block-name="core/image" template="vertical"><div class="amp-story-block-wrapper" style="position:absolute;top:63.29%;left:0.91%;width:98.17%;height:36.17%"><figure class="wp-block-image is-resized" id="4b0cde59-6334-43d8-b099-9cc2e6cbfb3e"><img src="AMP_STORY_TEMPLATES_URL/quote-image.png" alt="" width="322" height="200"/></figure></div></amp-story-grid-layer>
    <!-- /wp:image -->

    <!-- wp:quote {"width":328,"align":"center","className":"wp-block-quote is-style-white","positionTop":8,"positionLeft":0} -->
    <amp-story-grid-layer data-block-name="core/quote" template="vertical"><div class="amp-story-block-wrapper" style="position:absolute;top:8%;left:0%;width:100%;height:36.17%"><blockquote style="text-align:center" class="wp-block-quote is-style-white" id="a8e30e6e-f30b-46b4-ab03-41e27da0dd40"><p>Everyone soon or late comes round Rome</p><cite>Robert Browning</cite></blockquote></div></amp-story-grid-layer>
    <!-- /wp:quote --></amp-story-page>
<!-- /wp:amp/amp-story-page -->
