<!-- wp:amp/amp-story-page {"mediaType":"image","autoAdvanceAfterDuration":0,"backgroundColors":"[{\u0022color\u0022:\u0022#8c58e3\u0022},{\u0022color\u0022:\u0022#fff9e5\u0022}]","overlayOpacity":50} -->
<amp-story-page style="background-color:#ffffff" id="5da957b0-ee47-4f6c-9eff-79dd82e13f26" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill"><img layout="fill" src="AMP_STORY_TEMPLATES_URL/quote-bg.jpg" object-position="initial"/></amp-story-grid-layer><amp-story-grid-layer template="fill" style="background-image:linear-gradient(to bottom, #8c58e3, #fff9e5);opacity:0.5"></amp-story-grid-layer>

    <!-- wp:image {"width":322,"height":200,"positionTop":63.29,"positionLeft":0.91} -->
    <figure class="wp-block-image is-resized"><img src="AMP_STORY_TEMPLATES_URL/quote-image.png" alt="" width="322" height="200"/></figure>
    <!-- /wp:image -->

    <!-- wp:quote {"width":328,"align":"center","className":"wp-block-quote is-style-white","positionTop":8,"positionLeft":0} -->
    <blockquote class="wp-block-quote has-text-align-center is-style-white"><p>Everyone soon or late comes round Rome</p><cite>Robert Browning</cite></blockquote>
    <!-- /wp:quote --></amp-story-page>
<!-- /wp:amp/amp-story-page -->
