<!-- wp:amp/amp-story-page {"mediaType":"image","autoAdvanceAfterDuration":0,"backgroundColors":"[{},{\u0022color\u0022:\u0022#313a43\u0022}]","overlayOpacity":40} -->
<amp-story-page style="background-color:#ffffff" id="24dd0b58-9125-47ce-ad42-c2a80c2eeb3a" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill"><img layout="fill" src="AMP_STORY_TEMPLATES_URL/title-bg.jpg" object-position="initial"/></amp-story-grid-layer><amp-story-grid-layer template="fill" style="background-image:linear-gradient(to bottom, transparent, #313a43);opacity:0.4"></amp-story-grid-layer>
	<!-- wp:amp/amp-story-text {"type":"p","customTextColor":"#ffffff","customBackgroundColor":"#8c58e3","autoFontSize":10,"opacity":80,"positionTop":59,"positionLeft":6,"height":20,"width":111,"className":"is-style-rounded"} -->
	<p style="background-color:rgba(140, 88, 227, 0.8);color:#ffffff;display:flex" class="wp-block-amp-amp-story-text has-text-color has-background is-style-rounded"><amp-fit-text layout="flex-item" class="amp-text-content">Travel Tips</amp-fit-text></p>
    <!-- /wp:amp/amp-story-text -->

	<!-- wp:amp/amp-story-post-title {"align":"left","customFontSize":28,"autoFontSize":26,"ampFontFamily":"Source Sans Pro","customTextColor":"#ffffff","height":80,"width":294,"positionTop":68,"positionLeft":6} -->
	<h1 style="color:#ffffff;text-align:left" class="wp-block-amp-amp-story-post-title has-text-color" data-font-family="Source Sans Pro"><amp-fit-text layout="flex-item" class="amp-text-content">{content}</amp-fit-text></h1>
	<!-- /wp:amp/amp-story-post-title -->

	<!-- wp:amp/amp-story-post-author {"customFontSize":12,"autoFontSize":14,"ampFontFamily":"Source Sans Pro","customTextColor":"#ffffff","height":20,"width":70,"positionTop":87,"positionLeft":6} -->
	<div style="color:#ffffff" class="wp-block-amp-amp-story-post-author has-text-color" data-font-family="Source Sans Pro"><amp-fit-text layout="flex-item" class="amp-text-content">{content}</amp-fit-text></div>
	<!-- /wp:amp/amp-story-post-author -->

	<!-- wp:amp/amp-story-post-date {"customFontSize":12,"autoFontSize":14,"ampFontFamily":"Source Sans Pro","customTextColor":"#ffffff","height":20,"width":142,"positionTop":87,"positionLeft":30} -->
	<div style="color:#ffffff" class="wp-block-amp-amp-story-post-date has-text-color" data-font-family="Source Sans Pro"><amp-fit-text layout="flex-item" class="amp-text-content">{content}</amp-fit-text></div>
	<!-- /wp:amp/amp-story-post-date -->
</amp-story-page>
<!-- /wp:amp/amp-story-page -->
