<!-- wp:amp/amp-story-page {"autoAdvanceAfterDuration":0,"backgroundColors":"[{\u0022color\u0022:\u0022#313131\u0022},{\u0022color\u0022:null}]","overlayOpacity":60} -->
<amp-story-page style="background-color:#ffffff" id="51ff9911-ea21-45c7-8334-621c98f3fc64" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill" style="background-image:linear-gradient(to bottom, #313131, transparent);opacity:0.6"></amp-story-grid-layer><amp-story-grid-layer template="vertical"><!-- wp:amp/amp-story-text {"tagName":"h2","align":"center","customFontSize":32,"autoFontSize":20,"customTextColor":"#ffffff","height":73,"width":268,"positionTop":25,"positionLeft":9} -->
    <h2 style="color:#ffffff;font-size:20px;width:82%;height:13%;text-align:center;position:absolute;top:25%;left:9%" class="has-text-color" id="3d4f54b4-a53d-412c-8e56-00db0738e44f"><amp-fit-text layout="fill" class="amp-text-content">Relish the simplicity of Italian cooking</amp-fit-text></h2>
    <!-- /wp:amp/amp-story-text -->

    <!-- wp:image {"positionTop":57,"positionLeft":1} -->
    <figure class="wp-block-image" id="f39967b3-52f3-4c00-b104-7b2c950e09aa" style="position:absolute;top:57%;left:1%"><img alt=""/></figure>
    <!-- /wp:image -->

    <!-- wp:amp/amp-story-text {"tagName":"h1","customFontSize":10,"autoFontSize":14,"ampFitText":false,"customTextColor":"#ffffff","customBackgroundColor":"#8c58e3","height":36,"width":46,"className":"is-style-half-rounded","positionTop":15,"positionLeft":43} -->
    <h1 style="background-color:#8c58e3;color:#ffffff;font-size:3.05vw;width:14%;height:7%;position:absolute;top:15%;left:43%" class="amp-text-content has-text-color has-background is-style-half-rounded" id="1acba6c8-ffa4-4a6a-a110-446b8b7fc692">TIP 1</h1>
    <!-- /wp:amp/amp-story-text --></amp-story-grid-layer></amp-story-page>
<!-- /wp:amp/amp-story-page -->