<!-- wp:amp/amp-story-page {"mediaType":"image","autoAdvanceAfterDuration":0,"backgroundColors":"[{\u0022color\u0022:\u0022#8c58e3\u0022},{\u0022color\u0022:\u0022#fff9e5\u0022}]","overlayOpacity":50} -->
<amp-story-page style="background-color:#ffffff" id="4c4ad30d-0662-4860-a0d2-765843911c47" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill"><img layout="fill" src="AMP_STORY_TEMPLATES_URL/cta-bg.jpg" object-position="initial"/></amp-story-grid-layer><amp-story-grid-layer template="fill" style="background-image:linear-gradient(to bottom, #8c58e3, #fff9e5);opacity:0.5"></amp-story-grid-layer>
    <!-- wp:image {"width":261,"height":195,"className":"wp-block-image is-resized is-style-rounded","positionTop":38,"positionLeft":12} -->
    <figure class="wp-block-image is-resized is-style-rounded"><img src="AMP_STORY_TEMPLATES_URL/cta-image.jpg" alt="" width="261" height="195"/></figure>
    <!-- /wp:image -->

    <!-- wp:amp/amp-story-text {"tagName":"h2","align":"center","customFontSize":24,"autoFontSize":22,"ampFitText":false,"customTextColor":"#ffffff","height":66,"width":275,"positionTop":19,"positionLeft":9} -->
    <h2 style="color:#ffffff;font-size:7.32vw;text-align:center" class="wp-block-amp-amp-story-text amp-text-content has-text-color">The Ultimate Packing List for Italy</h2>
    <!-- /wp:amp/amp-story-text -->

    <!-- wp:amp/amp-story-text {"type":"p","tagName":"h1","align":"center","fontSize":"normal","autoFontSize":26,"ampFitText":false,"ampFontFamily":"Source Sans Pro","customTextColor":"#ffffff","height":29,"width":296,"positionTop":12} -->
    <h1 style="color:#ffffff;font-size:4.88vw;text-align:center" class="wp-block-amp-amp-story-text amp-text-content has-text-color" data-font-family="Source Sans Pro">Traveling to Italy soon?</h1>
    <!-- /wp:amp/amp-story-text -->

    <!-- wp:amp/amp-story-cta {"customBackgroundColor":"#ffffff","customTextColor":"#8c58e3","fontSize":"normal","btnPositionLeft":12.51} -->
    <amp-story-cta-layer class="wp-block-amp-amp-story-cta" id="1dc9e3e7-c8e4-407c-af26-f543ad7f941a"><a class="amp-block-story-cta__link amp-text-content has-text-color has-background" href="" style="background-color:rgba(255, 255, 255, 1);color:#8c58e3;font-size:4.88vw;left:12.51%"><strong>Show packing tips</strong></a></amp-story-cta-layer>
    <!-- /wp:amp/amp-story-cta --></amp-story-page>
<!-- /wp:amp/amp-story-page -->
