<!-- wp:amp/amp-story-page {"autoAdvanceAfterDuration":0,"backgroundColors":"[{\u0022color\u0022:\u0022#8c58e3\u0022},{\u0022color\u0022:\u0022#fff9e5\u0022}]"} -->
<amp-story-page style="background-color:#ffffff" id="37ceec49-aeda-432a-bf4d-8849ee23da3d" class="wp-block-amp-amp-story-page"><amp-story-grid-layer template="fill" style="background-image:linear-gradient(to bottom, #8c58e3, #fff9e5);opacity:0.5"></amp-story-grid-layer><!-- wp:amp/amp-story-text {"tagName":"h1","align":"left","autoFontSize":22,"ampFitText":false,"customFontSize":110,"customTextColor":"#ffffff","positionTop":18,"positionLeft":-14,"height":132,"width":310,"rotationAngle":90} -->
	<amp-story-grid-layer template="vertical"><h1 style="color:#ffffff;font-size:33.54vw;width:95%;height:24%;text-align:left;position:absolute;top:18%;left:-14%;transform:rotate(90deg)" class="amp-text-content has-text-color" id="bd0e125c-117d-4e19-9f19-9dd17865f34a"></h1></amp-story-grid-layer>
	<!-- /wp:amp/amp-story-text -->

	<!-- wp:amp/amp-story-text {"type":"p","align":"left","autoFontSize":26,"ampFitText":false,"fontSize":"small","ampFontFamily":"Source Sans Pro","customTextColor":"#ffffff","positionTop":27,"positionLeft":-5,"height":29,"width":296,"rotationAngle":90} -->
	<amp-story-grid-layer template="vertical"><p style="color:#ffffff;font-size:3.96vw;width:90%;height:5%;text-align:left;position:absolute;top:27%;left:-5%;transform:rotate(90deg)" class="amp-text-content has-text-color" id="238d032c-3352-48df-b986-7b78ee6fb464" data-font-family="Source Sans Pro"></p></amp-story-grid-layer>
	<!-- /wp:amp/amp-story-text --></amp-story-page>

	<!-- wp:image {"className":"wp-block-image is-resized is-style-rounded","positionTop":50,"positionLeft":13,"ampShowImageCaption":false} -->
	<amp-story-grid-layer template="vertical"><figure class="wp-block-image is-resized is-style-rounded" id="09fc2b68-24ba-4487-9a1a-420bb878cc05" style="position:absolute;top:50%;left:13%"><img alt=""/></figure></amp-story-grid-layer>
	<!-- /wp:image -->
<!-- /wp:amp/amp-story-page -->
