.choose-reader-theme > div {
	margin-left: -8px;
	margin-right: -8px;
}

.choose-reader-theme > p {
	font-size: 1rem;
	margin-bottom: 1.5rem;
}

.choose-reader-theme__grid {
	display: grid;
	grid-gap: 40px;

	@media screen and (min-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: 1100px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.choose-reader-theme__unavailable {
	padding-top: 6rem;
}

.choose-reader-theme__unavailable label {
	cursor: default;
}
