.amp-page-child-block[data-type="amp/amp-story-page-attachment"] {
	top: 85%;
	left: 0;
	width: 100%;
	height: 15%;
}

.amp-page-child-block[data-type="amp/amp-story-page-attachment"] > [data-type="amp/amp-story-page-attachment"] {
	height: 100%;
}

div[data-type="amp/amp-story-page-attachment"] .components-notice.is-warning {
	position: absolute;
}

div[data-type="amp/amp-story-page-attachment"] .block-editor-block-list__block-edit.block-editor-block-list__block-edit,
div[data-type="amp/amp-story-page-attachment"] .attachment-wrapper {
	width: 100%;
	height: 100%;
}

div[data-type="amp/amp-story-page-attachment"] .attachment-wrapper {
	overflow: hidden;
}

@keyframes slide-up {

	0% {
		opacity: 0;
		transform: translateY(85%);
	}

	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.attachment-wrapper {
	animation: slide-up 0.5s ease;
	-moz-animation: slide-up 0.5s; /* Firefox */
	-webkit-animation: slide-up 0.5s; /* Safari and Chrome */
	-o-animation: slide-up 0.5s; /* Opera */
}

.amp-page-attachment-content {
	background: #fff;
	overflow-y: auto;
	height: 100%;
	padding: 10px;
}

.attachment-header {
	display: flex;
	position: relative;
	height: 40px !important;
	background: #fff;
	border-radius: 8px 8px 0 0;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.12);
	z-index: 1;
}

.amp-story-page-attachment-title {
	font-family: Roboto, sans-serif;
	width: calc(100% - 80px);
	padding-right: 40px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	line-height: 40px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.amp-story-page-attachment-close-button {
	display: block;
	margin: 8px;
	height: 24px;
	width: 24px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 36 36' fill='rgba(0, 0, 0, 0.54)'%3E%3Cpath d='M28.5 9.62L26.38 7.5 18 15.88 9.62 7.5 7.5 9.62 15.88 18 7.5 26.38l2.12 2.12L18 20.12l8.38 8.38 2.12-2.12L20.12 18z'/%3E%3Cpath d='M0 0h36v36H0z' fill='none'/%3E%3C/svg%3E");
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
}

div[data-type="amp/amp-story-page-attachment"] .open-attachment-wrapper .amp-story-page-attachment__text {
	width: initial !important;
	padding: 0 32px;
	margin: 12px 0 20px;
	height: 16px !important;
	max-width: calc(100% - 64px);
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.3px;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.36);
	white-space: nowrap;
}

div[data-type="amp/amp-story-page-attachment"] .attachment-container {
	position: relative;
	height: 553px;
	overflow: hidden;
	transform: translateY(-85%);
}

.attachment-container .components-spinner {
	margin-right: calc(50% - 9px);
	margin-left: calc(50% - 9px);
}

.attachment-container .failed-message {
	font-size: 14px;
}

.amp-story-page-open-attachment-icon {
	position: relative;
	display: block;
	height: 32px;
	width: 32px;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
}

.amp-story-page-open-attachment-bar {
	position: absolute;
	display: block;
	height: 3px;
	width: 12px;
	border-radius: 3px;
	top: 14px;
	background: #000;
}

.amp-story-page-open-attachment-bar-left {
	left: 6px;
	transform: rotate(-40deg);
}

.amp-story-page-open-attachment-bar-right {
	right: 6px;
	transform: rotate(40deg);
}

.open-attachment-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-direction: column;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	/* stylelint-disable */
	background: linear-gradient(0, rgba(0, 0, 0, 0.15), transparent);
	/* stylelint-enable */
	z-index: 3;
}

.remove-attachment-post {
	position: absolute;
	right: 10px;
	top: 10px;
}

/* Block styles applied in the FE for the embedded post */

.amp-page-attachment-content .wp-block-columns {
	display: flex;
	margin-bottom: 28px;
	flex-wrap: wrap;
}

@media (min-width: 782px) {

	.amp-page-attachment-content .wp-block-columns {
		flex-wrap: nowrap;
	}
}

.amp-page-attachment-content .wp-block-column {
	margin-bottom: 1em;
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;
}

@media (max-width: 599px) {

	.amp-page-attachment-content .wp-block-column {
		flex-basis: 100% !important;
	}
}

/**
 * All Columns Alignment
 */
.amp-page-attachment-content .wp-block-columns.are-vertically-aligned-top {
	align-items: flex-start;
}

.amp-page-attachment-content .wp-block-columns.are-vertically-aligned-center {
	align-items: center;
}

.amp-page-attachment-content .wp-block-columns.are-vertically-aligned-bottom {
	align-items: flex-end;
}

/**
 * Individual Column Alignment
 */
.amp-page-attachment-content .wp-block-column.is-vertically-aligned-top {
	align-self: flex-start;
}

.amp-page-attachment-content .wp-block-column.is-vertically-aligned-center {
	align-self: center;
}

.amp-page-attachment-content .wp-block-column.is-vertically-aligned-bottom {
	align-self: flex-end;
}
