.amp-story-page-open-attachment-icon {
    display: block!important;
    height: 32px!important;
    width: 32px!important;
    cursor: pointer!important;
    /*animation: open-attachment-icon 0.2s cubic-bezier(0.4,0.0,0.2,1) 2s both!important;*/
}

.amp-story-page-open-attachment-bar {
    position: absolute!important;
    display: block!important;
    height: 3px!important;
    width: 12px!important;
    border-radius: 3px!important;
    top: 14px!important;
}

.amp-story-page-open-attachment-bar-left {
    left: 6px!important;
    /*animation: open-attachment-icon-color 0.25s cubic-bezier(0.4,0.0,0.2,1) 2s both,open-attachment-bar-left 0.3s cubic-bezier(0.4,0.0,0.2,1) both!important;*/
}

.amp-story-page-open-attachment-bar-right {
    right: 6px!important;
    /*animation: open-attachment-icon-color 0.25s cubic-bezier(0.4,0.0,0.2,1) 2s both,open-attachment-bar-right 0.3s cubic-bezier(0.4,0.0,0.2,1) both!important;*/
}