.amp-story-reorderer {
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 169px);
	grid-gap: 0;
	justify-content: space-between;
}

.amp-story-reorderer .amp-story-reorderer-item {
	margin: 0 auto 10px;
	width: 100%;
	position: relative;
}

.amp-story-reorderer .amp-story-reorderer-item .amp-story-reorderer-item-page {
	max-width: 169px;
	height: 277px;
	margin: 0 10px;
}

.amp-story-reorderer .amp-story-reorderer-item .amp-story-reorderer-item-page .wp-block {
	transform: scale(0.48) translateX(-40%) translateY(-40%);
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone {
	border: none;
	border-radius: 0;
	background: transparent;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-active {
	opacity: 0;
	visibility: hidden;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-page,
.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element {
	opacity: 1;
	visibility: visible;
	transition: opacity .3s,background-color .3s;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-page {
	background: #eff0f1;
	border: none !important;
	margin: 0 10px;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element.is-close-to-right {
	border-right: 3px solid #0071a1;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element.is-close-to-left {
	border-left: 3px solid #0071a1;
}

.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone__content,
.amp-story-reorderer .amp-story-reorderer-item .is-dragging-over-element .components-drop-zone__content {
	display: none;
}

.amp-story-reorderer .amp-story-page-preview {
	border: 5px solid #eff0f1;
	border-radius: 5px;
	background: #fff;
	width: 100%;
	height: 277px;
	cursor: grab;
	overflow: hidden;
}

.amp-story-reorderer .amp-story-page-preview .editor-styles-wrapper {
	margin: -32px 0 0 0;
	height: 267px;
}

.amp-story-reorderer .amp-story-page-preview .editor-styles-wrapper > div {
	height: 267px;
}

.amp-story-reorderer .amp-story-page-preview .editor-block-list__layout {
	padding: 0;
}

.amp-story-reorderer .amp-story-page-preview .block-list-appender {
	display: none;
}
