.amp-drawer {
	--panel-button-width: 56px;
	--heading-height: 92px;
}

@media (min-width: 783px) {

	.amp-drawer {
		--panel-button-width: 112px;
		--heading-height: 92px;
	}
}

.amp-drawer {
	margin-bottom: 1rem;
	padding: 0;
	position: relative;
}

.amp-drawer__heading {
	align-items: center;
	display: flex;
	height: var(--heading-height);
	left: 0;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;

	@media (min-width: 783px) {
		padding-left: 3rem;
	}
}

.amp-drawer--handle-type-full-width .amp-drawer__heading {

	@media (min-width: 783px) {
		padding-right: 3rem;
	}
}

.amp-drawer__heading h3 {
	margin-bottom: 0;
}

.amp .amp-drawer .components-panel__body-title {
	height: var(--heading-height);
	margin: 0 0 0 auto;
}

.amp .amp-drawer .components-panel__body-title {
	border-radius: 5px;
}

.amp .amp-drawer .is-opened .components-panel__body-title {
	border-radius: 5px 5px 0 0;
}

.amp .amp-drawer.components-panel__body-title,
.amp.amp .amp-drawer .components-panel__body-toggle {
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.amp .amp-drawer .components-panel__body-title button {
	border-radius: 0;
	height: 100%;
	width: 100%;
}

.amp.amp .amp-drawer .components-panel__body-toggle:focus:not(:disabled) {
	outline: none;
}


.amp .amp-drawer .components-panel__body-title button span {
	align-items: center;
	display: flex;
	height: 100%;
	margin-left: auto;
	justify-content: center;
	width: var(--panel-button-width);
}

.amp .amp-drawer .components-panel__body-title svg {
	height: 30px;
	position: static;
	transform: none;
	width: 30px;

	@media (min-width: 783px) {
		height: 45px;
		width: 45px;
	}
}

.amp .amp-drawer--handle-type-full-width .components-panel__body-title svg {
	margin-left: auto;

	@media (min-width: 783px) {
		margin-right: 1rem;
	}
}

.amp.amp .amp-drawer .components-panel__body-toggle {
	border-radius: 5px;
}

.amp .amp-drawer__panel-body {
	padding: 0;
	border-top-width: 0;
	border-bottom-width: 0;
}

.amp-drawer__panel-body-inner {
	border-top: 1px solid var(--amp-settings-color-border);
}

.amp-drawer__panel-body-inner details {
	margin-bottom: 1.5rem;
}

.template-mode-selection__details p {
	font-size: 14px;
	line-height: 1.85;
}

.amp .amp-drawer--handle-type-right .amp-drawer__heading {
	right: var(--panel-button-width);
}

.amp-drawer--handle-type-right .components-panel__body-title {
	width: var(--panel-button-width);
}

.amp .amp-drawer--handle-type-right .components-panel__body-title,
.amp.amp .amp-drawer--handle-type-right .components-panel__body-toggle {
	background-color: transparent;
	border-radius: 0 5px 5px 0;
}

.amp .amp-drawer--handle-type-right .is-opened .components-panel__body-title,
.amp.amp .amp-drawer--handle-type-right .is-opened .components-panel__body-toggle {
	border-radius: 0 5px 0 0;
}

.amp .amp-drawer--handle-type-right .components-panel__body-title button {
	border-left: 1px solid var(--amp-settings-color-border);
}

/*
 * AMP drawer placeholder (loading state).
 */
.amp .amp-drawer--placeholder {
	height: var(--heading-height);
	animation: loading-fade 1.6s ease-in-out infinite;
	background: var(--amp-settings-placeholder-background);
}

.amp .amp-drawer--placeholder > * {
	opacity: 0;
	visibility: hidden;
}
