.components-button[aria-label="AMP for WordPress"],
.components-button[aria-label="AMP for WordPress"]:hover,
.components-button[aria-label="AMP for WordPress"]:focus {
	color: transparent;
}

.interface-pinned-items .components-button.has-icon[aria-label="AMP for WordPress"] {
	padding: 0;
	position: relative;
}

.amp-plugin-icon {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.amp-toolbar-icon svg {
	fill: #000;
}

.amp-plugin-icon--has-badge svg {
	margin-left: -5px;
}

.amp-toolbar-broken-icon svg {
	fill: none;
}

.amp-error-count-badge {
	align-items: center;
	background: #bb522e;
	border: 2px solid transparent;
	border-radius: 8px;
	color: #fff;
	display: inline-flex;
	flex-shrink: 0;
	font-size: 10px;
	height: 16px;
	justify-content: center;
	width: 16px;
}

.amp-error-count-badge {
	display: flex;
	position: absolute;
	right: 1px;
	top: 2px;
}

.is-pressed .amp-error-count-badge {
	border-color: #1e1e1e;
}

.is-pressed .amp-plugin-icon:not(.amp-plugin-icon--broken) svg {
	fill: #1e1e1e;
}

.amp-block-validation-sidebar {
	border-bottom-width: 0;
}

.amp-sidebar__validation-errors-icon {
	float: left;
	margin-right: 1rem;
}

.amp-sidebar > .components-panel__body {
	border-bottom-width: 0;
	border-top-width: 0;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.amp-sidebar__description-panel {
	border-bottom: 2px solid #e3e4e7;
}

.amp-sidebar__broken-container {
	background: #f4f4f4;
	padding: 18px 13px;
}

.amp-sidebar__broken {
	background: #fff;
	border-radius: 15px;
	display: flex;
	padding: 10px;
}

.amp-sidebar__broken h3 {
	margin-bottom: 0.5rem;
	margin-top: 0;
}

.amp-sidebar__validation-errors-kept-icon {
	align-items: center;
	background-color: #fff3ef;
	border-radius: 50%;
	display: flex;
	flex: 0 0 auto;
	height: 45px;
	justify-content: center;
	margin: 10px 15px 15px 0;
	width: 45px;
}

.amp-sidebar__validation-errors-kept-icon svg {
	height: 25px;
	width: 25px;
}

.amp-sidebar > ul > li {
	margin-bottom: 0;
}


.amp-sidebar > .components-panel__body h2 {
	margin-top: 0;
	margin-bottom: 0.375rem;
}

.amp-sidebar > .components-panel__body p {
	margin-bottom: 0;
}

.amp-sidebar .components-panel__body-title .components-button {
	border-radius: 0;
}

.amp-sidebar > ul,
.amp-sidebar > li {
	margin-bottom: 0;
	margin-top: 0;
}

.amp-sidebar > ul > li:first-of-type .components-panel__body {
	border-top-width: 0;
}

.amp-sidebar > ul > li:not(:last-of-type) .components-panel__body {
	border-bottom-width: 0;
}

.amp-sidebar__review-link {
	align-items: center;
	color: #111;
	display: inline-flex;
	font-size: 13px;
}

.amp-sidebar__review-link svg,
.amp-error__details-link svg {
	height: 15px;
	margin-left: 6px;
	width: 15px;
}

.amp-sidebar__options {
	margin-top: 2rem;
}

.amp-error--new .components-panel__body-title,
.amp-error--new .components-panel__body-title:hover {
	background: #fef7f1;
	border-left: 4px solid #d54e21;
}

.amp-error .components-panel__body-title,
.amp-error .components-panel__body-toggle.components-button {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
}

.amp-error > h2 > .components-button {
	padding-left: 14px;
	padding-right: 14px;
}

.components-panel__body.is-opened > .components-panel__body-title {
	margin-bottom: 10px;
}

.amp-error__icons {
	align-items: center;
	display: flex;
	padding-right: 0.5rem;
}

.amp-error__error-type-icon {
	align-items: center;
	background: #707070;
	border: 1px solid #707070;
	border-radius: 12px;
	display: flex;
	height: 24px;
	justify-content: center;
	margin-left: -5px;
	width: 24px;
}

.amp-error__block-type-icon {
	padding: 0.375rem;
}

.amp-error__title {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
	justify-content: flex-start;
	line-height: 1.4;
	padding-right: 1.782rem;
}

.amp-error__title-text {
	margin-right: 5px;
}

.amp-error code {
	white-space: nowrap;
}

.amp-error-alert {
	color: #be2c23;
	white-space: nowrap;
}

.amp-error-alert svg {
	margin-bottom: -2px;
	margin-right: 3px;
}

.amp-error__block-type-description {
	margin-right: 2px;
}

.components-button.amp-error__select-block {
	align-items: center;
	display: inline-flex;
	margin-right: 3px;
}

.amp-error__actions {
	display: flex;
}

.amp-error__actions .components-button {
	margin-right: 7px;
}

.amp-error__select-block svg {
	fill: none;
	margin-right: 9px;
}

.amp-error__details-link {
	align-items: center;
	display: flex;
}

.amp-error__details-link svg path {
	fill: currentColor;
}

.amp-error__details dt {
	float: left;
	font-weight: 600;
}

.amp-error__details dt::after {
	content: ":";
	margin-right: 7px;
}

.amp-error__details dd {
	margin-bottom: 8px;
	margin-left: 0;

}

.amp-error__kept-removed {
	display: flex;
}

.amp-error__kept-removed--removed > span,
.amp-error__kept-removed--kept > span {
	align-items: center;
	background: #fcddd3;
	border-radius: 5px;
	display: flex;
	height: 24px;
	justify-content: center;
	margin-left: 5px;
	margin-top: -5px;
	width: 24px;
}

.amp-error__kept-removed--removed > span {
	background: #d2e5e5;
}
