/*------------------------------------------------------------------
[Table of contents]

	0. General editor layout styles.
	1. Style story pages wrapper
	2. Selected state
		2.1 Selected label
	3. Story page dimensions
	4. Layers stacking
		4.1 Hide layers above
		4.2 Blur layers above
		4.3 Stroke text for legibility.
	5. Layers Styling
		5.2 Fill layer
		5.3 CTA layer
	6. Inserter customisations.
		6.1 Ghosted page inserter
	7. Block navigator
	8. Block mover
	9. General block editor components
	10. Custom Components
	11. Text Block
	100. Shame
		100.1 Gutenberg - Warning div not clickable

-------------------------------------------------------------------*/

/*
 * 0. General editor layout styles.
 */
.edit-post-visual-editor {
	padding-left: 50px;
	padding-right: 50px;
}

@media screen and (min-width: 1280px) {
	#amp-story-editor {
		min-width: 820px;
	}
}

#amp-story-editor,
.amp-story-page-preview .editor-styles-wrapper {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/*
 * 1. Style story pages wrapper.
 * - Add thicker border around the pages
 * - Change background to light gray
 */

div[data-type="amp/amp-story-page"] {
	border: 5px solid #eff0f1;
	border-radius: 5px;
}

div[data-type="amp/amp-story-page"]::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #eff0f1;
	transition: background-color 300ms linear;
}

.editor-block-list__layout div[data-type="amp/amp-story-page"] .components-placeholder.wp-block-image {
	background: #f9f9f9;
}

/*
 * 2. Selected state outlines.
 * Change default gray selected highlights into blue,
 * as gray was not visible in a multi-layer setup.
 */

.editor-block-list__layout div[data-type="amp/amp-story-page"].is-selected > .editor-block-list__block-edit::before {
	outline: 1px solid #007cba;
}

.amp-grid-template .editor-block-list__layout .editor-block-list__block.is-selected > .editor-block-list__block-edit::before,
.amp-grid-template .editor-block-list__layout .editor-block-list__block.is-typing > .editor-block-list__block-edit::before
{
	outline: 1px solid #007cba;
}

div[data-type="amp/amp-story-page"][data-amp-selected="parent"] > div > div > div > .editor-inner-blocks > .editor-block-list__layout > .is-selected > .editor-block-list__block-edit::before {
	outline: 1px solid #007cba;
}

/* Remove one default outline as it was unnecessary with the above implementation. */

.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit::before {
	outline: none;
}

/*
 * 2.1 Selected label
 * Show label while the layer is selected
 */

.editor-block-list__breadcrumb {
	z-index: 6;
	pointer-events: none;
}

.editor-block-list__block:hover .editor-block-list__breadcrumb .components-toolbar {
	opacity: 1;
	animation: none;
}

/*
 * 3. Story page dimensions.
 * Fix the page editor size to the ratio of the stories.
 */

.editor-block-list__layout div[data-type="amp/amp-story-page"] {
	padding: 0;
	margin: 60px 30px 0;
}

@media (min-width: 600px) {
	div[data-type="amp/amp-story-page"] .editor-block-list__block {
		margin: 0;
		padding: 0;
	}
}

#amp-story-editor .wp-block[data-type="amp/amp-story-page"],
#amp-story-editor .wp-block[data-type="amp/amp-story-page"] .editor-inner-blocks .editor-block-list__layout:first-of-type {
	width: 100%;
	max-width: 338px;
	height: 553px;
	position: relative;
}

#amp-story-editor .wp-block[data-type="amp/amp-story-page"] .editor-block-list__layout > .block-list-appender {
	width: 316px;
	margin: 0 auto;
	display: none;
}

#amp-story-editor .block-editor-block-list__layout .block-editor-default-block-appender,
#amp-story-editor .block-editor-block-list__block>.block-editor-block-list__insertion-point {
	display: none !important;
}

/*
 * 4. Layers stacking.
 * Setup on top of each other layering on the story children.
 */

.editor-block-list__layout div[data-type="amp/amp-story-page"].editor-block-list__block:first-child .editor-block-list__block-edit {
	margin: 0;
	max-width: 100%;
}

.editor-block-list__layout div[data-type="amp/amp-story-page"].editor-block-list__block .editor-block-list__block-edit,
.editor-block-list__layout .editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit {
	margin: 0;
}

div[data-type="amp/amp-story-page"] .editor-inner-blocks .editor-block-list__layout .editor-block-list__layout {
	background-color: initial;
}

.editor-block-list__layout div[data-amp-selected="parent"] {
	z-index: 1;
}

.amp-grid-template .editor-block-list__layout:first-of-type {
	display: grid;
	padding: 68px 32px 32px;
}

.amp-grid-template .editor-block-list__layout:first-of-type > .wp-block {
	margin-top: 17px;
	margin-bottom: 17px;
}

.amp-grid-template .editor-block-list__layout:first-of-type > .wp-block:first-of-type {
	margin-top: 0;
}

.amp-grid-template .editor-block-list__layout:first-of-type *:not(.editor-block-toolbar) {
	box-sizing: border-box;
}

.amp-grid-template-vertical .editor-block-list__layout:first-of-type {
	grid-auto-flow: row;
	grid-template-columns: 100%;
	align-content: start;
	grid-gap: 16px;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	justify-items: start;
}

.amp-grid-template-vertical .editor-block-list__block {
	width: 100%;
}

/*
 * 4.3 Stroke text for legibility.
 * Add white stroke to text in layers in order to be legible
 * while editing on top of varying colored background.
 */

.amp-grid-template .editor-block-list__layout .editor-block-list__block.is-selected > .editor-block-list__block-edit .editor-rich-text,
.amp-grid-template .editor-block-list__layout .editor-block-list__block.is-typing > .editor-block-list__block-edit .editor-rich-text {
	text-shadow:
			0.05em 0 rgba( 255, 255, 255, 0.8 ),
			0 0.05em rgba( 255, 255, 255, 0.8 ),
			-0.05em 0 rgba( 255, 255, 255, 0.8 ),
			0 -0.05em rgba( 255, 255, 255, 0.8 ),
			-0.05em -0.05em rgba( 255, 255, 255, 0.8 ),
			-0.05em 0.05em rgba( 255, 255, 255, 0.8 ),
			0.05em -0.05em rgba( 255, 255, 255, 0.8 ),
			0.05em 0.05em rgba( 255, 255, 255, 0.8 );
}

.amp-grid-template .editor-block-list__layout .editor-block-list__block .editor-rich-text__tinymce + .editor-rich-text__tinymce,
.amp-grid-template .editor-block-list__layout .editor-block-list__block .editor-rich-text__tinymce + .editor-rich-text__tinymce p {
	opacity: 0.9;
	text-shadow:
			0.05em 0 rgba( 255, 255, 255, 0.8 ),
			0 0.05em rgba( 255, 255, 255, 0.8 ),
			-0.05em 0 rgba( 255, 255, 255, 0.8 ),
			0 -0.05em rgba( 255, 255, 255, 0.8 ),
			-0.05em -0.05em rgba( 255, 255, 255, 0.8 ),
			-0.05em 0.05em rgba( 255, 255, 255, 0.8 ),
			0.05em -0.05em rgba( 255, 255, 255, 0.8 ),
			0.05em 0.05em rgba( 255, 255, 255, 0.8 );
}

/*
 * 5. Layers Styling
 */

/*
 * 6. Inserter customisations.
 */

.components-popover.editor-inserter__amp .components-popover__content {
	height: 200px;
}

/* Hide inserter within inactive pages */
@media (min-width: 961px) {
	.amp-page-inactive[data-type="amp/amp-story-page"] .block-list-appender {
		display: none;
	}
}

/*
 * 7. Block Navigation and Page Carousel

 * Hides the toggler and shows the navigator by default on large screens.
 */

@media( max-width: 960px) {
	.editor-block-list__block-edit > div > .editor-selectors {
		display: none;
	}

	#amp-root-navigation {
		display: none;
	}

	#amp-story-editor-carousel {
		display: none;
	}
}

@media (min-width: 961px) {
	#amp-story-editor {
		overflow: hidden;
	}

	#amp-story-editor > .editor-block-list__layout {
		padding-left: 0;
		padding-right: 0;
		display: flex;
		align-items: center;
		transform: none;
		transition: transform 300ms ease-in-out;
	}

	.editor-block-list__layout div[data-type="amp/amp-story-page"] {
		flex: 0 0 auto;
		position: relative;
		transition: border 300ms linear;
	}

	.editor-block-list__layout div[data-type="amp/amp-story-page"] + div[data-type="amp/amp-story-page"] {
		margin-left: 20px;
	}

	.editor-block-list__layout [data-type="amp/amp-story-page"].amp-page-active {
		border-color: #ccc;
	}

	.editor-block-list__layout [data-type="amp/amp-story-page"].amp-page-active::after {
		background-color: #ccc;
	}

	.editor-block-list__layout [data-type="amp/amp-story-page"].amp-page-inactive {
		opacity: .5;
	}

	.editor-block-list__layout [data-type="amp/amp-story-page"].amp-page-inactive > div {
		pointer-events: none;
	}

	.editor-block-list__layout div[data-type="amp/amp-story-page"] .amp-story-page-number {
		position: absolute;
		top: -3em;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 12px;
		color: #666;
		letter-spacing: 1px;
	}

	.editor-block-list__layout div[data-type="amp/amp-story-page"] .amp-story-page-number + div {
		height: 543px;
	}

	.amp-story-editor-carousel-navigation {
		display: flex;
		justify-content: space-between;
		margin-top: 2em;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list {
		flex: 1;
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
		justify-content: center;
		max-width: 30%;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item {
		flex: 1;
		height: .5em;
		max-width: 5em;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item + .amp-story-editor-carousel-item {
		margin-left: 20px;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button {
		background: #eff0f1;
		width: 100%;
		height: 100%;
		display: block;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button:hover,
	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button:focus {
		background: #e0e0e0;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item--active button {
		background: #666;
	}

	.edit-post-header-toolbar #amp-story-shortcuts {
		display: flex;
	}

	#amp-story-controls {
		text-align: right;
		padding-right: 20px;
	}

	#amp-story-controls .amp-story-controls-reorder {
		display: inline-block;
		line-height: 1;

	}

	.edit-post-visual-editor .editor-post-title__block {
		margin-left: 0;
		margin-right: 0;
	}

	.amp-story-controls-reorder-cancel {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-right: 20px;
		display: inline-flex;
	}

	.amp-story-reorderer {
		margin-top: 100px;
		display: grid;
		grid-template-columns: repeat(auto-fill, 169px);
		grid-gap: 0;
		justify-content: space-between;
	}

	.amp-story-reorderer .amp-story-reorderer-item {
		margin: 0 auto 10px;
		width: 100%;
		position: relative;
	}

	.amp-story-reorderer .amp-story-reorderer-item .amp-story-reorderer-item-page {
		max-width: 169px;
		height: 277px;
		margin: 0 10px;
	}

	.amp-story-reorderer .amp-story-reorderer-item .amp-story-reorderer-item-page .wp-block {
		transform: scale(0.48) translateX(-40%) translateY(-40%);
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone {
		border: none;
		border-radius: 0;
		background: transparent;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-active {
		opacity: 0;
		visibility: hidden;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-page,
	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element {
		opacity: 1;
		visibility: visible;
		transition: opacity .3s,background-color .3s;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-page {
		background: #eff0f1;
		border: none !important;
		margin: 0 10px;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element.is-close-to-right {
		border-right: 3px solid #0071a1;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element.is-close-to-left {
		border-left: 3px solid #0071a1;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone__content,
	.amp-story-reorderer .amp-story-reorderer-item .is-dragging-over-element .components-drop-zone__content {
		display: none;
	}

	.amp-story-reorderer .amp-story-page-preview {
		border: 5px solid #eff0f1;
		border-radius: 5px;
		background: #fff;
		width: 100%;
		height: 277px;
		cursor: grab;
		overflow: hidden;
	}

	.amp-story-reorderer .amp-story-page-preview .editor-styles-wrapper {
		margin: -32px 0 0 0;
		height: 267px;
	}

	.amp-story-reorderer .amp-story-page-preview .editor-styles-wrapper > div {
		height: 267px;
	}

	.amp-story-reorderer .amp-story-page-preview .editor-block-list__layout {
		padding: 0;
	}

	.amp-story-reorderer .amp-story-page-preview .block-list-appender {
		display: none;
	}

	.components-icon-button.editor-block-navigation {
		display: none;
	}

	#amp-root-navigation {
		position: absolute;
		left: 50px;
		top: 218px;
		width: 300px;
		z-index: 80;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#amp-root-navigation .editor-inserter {
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
	}

	#amp-root-navigation .components-popover:not(.is-mobile).is-center .components-popover__content {
		transform: translateX( -13% );
	}

	.post-type-amp_story.folded #amp-root-navigation .components-popover:not(.is-mobile):not(.is-middle).is-right .components-popover__content {
		margin-left: -50px;
	}

	#amp-root-navigation .editor-block-navigation__list {
		list-style-type: none;
	}

	#amp-root-navigation .components-icon-button .dashicon {
		margin-right: 5px;
	}

	:root {
		--block-settings-sidebar-width: 280px;
		--admin-menu-expanded-sidebar-width: 160px;
		--admin-menu-collapsed-sidebar-width: 36px;
		--amp-story-content-width: 338px;
		--block-editor-horizontal-margin: 40px;
		--scrollbar-width: 20px;
		--block-navigation-right-margin: 20px;
	}

	/* Navigator in the context of the open sidebar, settings hidden. */
	.post-type-amp_story:not(.folded) .edit-post-layout #amp-root-navigation {
		max-width: calc(
				calc(
				100vw
				-
				var(--admin-menu-expanded-sidebar-width)
				-
				var(--amp-story-content-width)
				-
				calc( var(--block-editor-horizontal-margin) * 2 )
				-
				var( --scrollbar-width )
				) / 2
				-
				var(--block-navigation-right-margin)
		);
	}

	.post-type-amp_story.folded .edit-post-layout #amp-root-navigation {
		max-width: calc(
				calc(
				100vw
				-
				var(--admin-menu-collapsed-sidebar-width)
				-
				var(--amp-story-content-width)
				-
				calc( var(--block-editor-horizontal-margin) * 2 )
				-
				var( --scrollbar-width )
				) / 2
				-
				var(--block-navigation-right-margin)
		);
	}

	/* Navigator in the context of minimum available space - open sidebar, settings shown. */
	.post-type-amp_story .edit-post-layout.is-sidebar-opened #amp-root-navigation {
		max-width: calc(
				calc(
				100vw
				-
				var(--admin-menu-expanded-sidebar-width)
				-
				var(--block-settings-sidebar-width)
				-
				var(--amp-story-content-width)
				-
				calc( var(--block-editor-horizontal-margin) * 2 )
				-
				var( --scrollbar-width )
				) / 2
				-
				var(--block-navigation-right-margin)
		);
	}

	/* Navigator in the context of folded sidebar, settings hidden. */
	.post-type-amp_story.folded #amp-root-navigation {
		max-width: calc( 100vw - var(--admin-menu-collapsed-sidebar-width) - var(--amp-story-content-width) );
	}

	/* Navigator in the context of folded sidebar, settings shown. */
	.post-type-amp_story.folded .edit-post-layout.is-sidebar-opened #amp-root-navigation {
		max-width: calc(
				calc(
				100vw
				-
				var(--admin-menu-collapsed-sidebar-width)
				-
				var(--block-settings-sidebar-width)
				-
				var(--amp-story-content-width)
				-
				calc( var(--block-editor-horizontal-margin) * 2 )
				-
				var( --scrollbar-width )
				) / 2
				-
				var(--block-navigation-right-margin)
		);
	}

	.editor-block-navigation__container {
		background: #fff;
		border: 1px solid #eee;
	}

	.editor-block-navigation__container .component-editor__selector button {
		background: no-repeat left top;
		padding-left: 37px;
		height: 40px;
		margin: 1px 0 1px 4px;
	}

	.editor-block-navigation__container .component-editor__selector .components-button:focus {
		box-shadow: none;
	}

	.components-range-control__number {
		width: 60px;
	}
}

/*
 * 8. Block mover
 * Disable the block mover at all times for page blocks.
 */

[data-type="amp/amp-story-page"] > .editor-block-list__block-edit > .editor-block-mover {
	display: none !important;
}

/*
 * 9. General block editor components
 */

.editor-amp-story-page-background {
	display: block;
}

.editor-amp-story-page-background + .is-destructive {
	margin-top: 1em;
}

.editor-amp-story-page-video-wrap {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.editor-amp-story-page-video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

#editor-amp-story-page-poster__help {
	margin-top: 0;
}

/*
 * Make all the inner blocks positioned with absolute.
 * @todo Add exception for CTA block once it's added back.
 */
div[data-type="amp/amp-story-page"] .editor-inner-blocks .editor-block-list__layout:first-of-type .wp-block {
	position: absolute;
}

.editor-block-list__block .editor-block-list__layout {
	margin: 0;
}

.editor-block-list__layout div[data-type="amp/amp-story-page"][data-amp-selected="parent"] .editor-block-drop-zone {
	height: 583px;
	width: 438px;
	margin: 0;
	left: -100px;
	top: -50px;
	border: none;
	background: transparent;
}

.editor-block-list__layout div[data-type="amp/amp-story-page"][data-amp-selected="parent"] > .editor-block-drop-zone .components-drop-zone__content {
	display: none;
}

div[data-type="amp/amp-story-page"] .wp-block-image {
	margin-top: 0;
}

#amp-story-editor .components-draggable__clone {
	position: absolute;
}

.editor-block-list__layout div[data-type="amp/amp-story-cta"] {
	top: 80%;
	left: 0;
	width: 100%;
	height: 20%;
}

.editor-block-list__layout div[data-type="amp/amp-story-cta"] .editor-block-mover {
	display: none;
}

/* Pullquote block adjustments */
.wp-block[data-type="core/pullquote"][data-align="wide"],
.wp-block[data-type="core/pullquote"][data-align="full"] {
	width: 100%;
	max-width: 100%;
}
.block-editor-inner-blocks .wp-block[data-type="core/pullquote"] .block-editor-block-list__block-edit {
	display: block;
}

#amp-story-editor .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
	margin: 0;
}

/* Quote block adjustments */
.wp-block-quote__citation {
	font-size: 16px;
	margin-top: 24px;
	display: block;
}

.editor-styles-wrapper .wp-block-quote p {
	line-height: 34px;
	font-weight: bold;
	font-size: 30px;
	font-family: "Source Sans Pro", sans-serif;
}

.wp-block-quote,
.wp-block-quote[style*="text-align: right"] {
	border: none;
	padding-top: 100px;
}

.block-editor-block-list__layout .block-editor-block-list__block [data-type="core/quote"] .block-editor-block-list__block-edit::before {
	right: -5px;
	left: -5px;
	top: -5px;
	bottom: -5px;
}

/*
 * 10. Custom Components
 */

/*
 * Template Inserter Component.
 */

#amp-story-controls .editor-inserter__amp-inserter {
	height: 48px;
	width: 48px;
	background-color: #0085BA;
	border-radius: 50%;
	margin-right: 10px;
}

#amp-story-controls .editor-inserter__amp-inserter span:first-of-type,
.amp-story-controls-reorder span:first-of-type {
	display: none;
}

#amp-story-controls .editor-inserter__amp-inserter svg {
	margin: 0 auto;
}

.amp-story-controls-reorder {
	box-sizing: border-box;
	height: 49px;
	width: 49px;
	border: 1px solid #AAAEB3;
	border-radius: 50%;
}

.amp-stories__template-inserter__popover.components-popover .components-popover__content:not(.is-mobile) {
	width: 386px;
	height: 400px;
	padding: 2px;
	transform: translateX(-90%);
}
.components-popover:not(.is-without-arrow):not(.is-mobile).is-top::before {
	border: 8px solid #e2e4e7;
}
.components-popover:not(.is-without-arrow):not(.is-mobile).is-top::after {
	border: 8px solid #fff;
}
.components-popover:not(.is-without-arrow):not(.is-mobile).is-top::before,
.components-popover:not(.is-without-arrow):not(.is-mobile).is-bottom::before,
.components-popover:not(.is-without-arrow):not(.is-mobile).is-top::after,
.components-popover:not(.is-without-arrow):not(.is-mobile).is-bottom::after {
	border-bottom-style: solid;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top: none;
	margin-left: -15px;
}

@media (min-width: 782px) {
	.amp-stories__template-inserter__popover.block-editor-inserter__popover:not(.is-mobile) > .components-popover__content {
		overflow-y: scroll;
	}
}

@media (min-width: 600px) {
	.amp-stories__template-inserter__popover .block-editor-block-list__block .block-editor-block-list__block-edit {
		margin: 0;
	}
}

.edit-post-layout:not(.is-sidebar-opened) .amp-stories__template-inserter__popover.components-popover .components-popover__content:not(.is-mobile) {
	left: initial;
	transform: none;
}

.amp-stories__template-inserter__popover.block-editor-inserter__popover .block-editor-block-types-list {
	margin: 0;
	padding: 5px;
}

.amp-stories__template-inserter__popover.components-popover.is-top .components-popover__content {
	bottom: initial;
}
.amp-stories__template-inserter__popover.components-popover:not(.is-without-arrow):not(.is-mobile).is-top {
	margin-top: 55px;
}

.amp-stories__editor-inserter__results li {
	display: block;
	list-style-type: none;
	width: 160px;
	height: 268px;
	float: left;
	margin: 15px;
}

.amp-stories__editor-inserter__results li amp-story-page,
.amp-stories__editor-inserter__results li amp-story-grid-layer {
	display: block;
	width: 100%;
	height: 100%;
}

.amp-stories__editor-inserter__results .block-editor-block-preview {
	width: 160px;
	height: 268px;
	margin: 10px;
	padding: 0;
}

.amp-stories__editor-inserter__results .block-editor-block-preview .block-editor-block-preview__content,
.amo-stories__editor-inserter__results .components-placeholder {
	padding: 0;
	width: 100%;
	height: 100%;
}

.amp-stories__blank-page-inserter {
	height: 100%;
	width: 100%;
}

.amp-stories__blank-page-inserter svg {
	margin: 0 auto;
}

.amp-stories__editor-inserter__results .block-editor-block-preview {
	pointer-events: initial;
}

.amp-stories__editor-inserter__results .block-list-appender,
.amo-stories__editor-inserter__results .editor-block-list__insertion-point {
	display: none;
}

.amp-stories__editor-inserter__results .block-editor-block-preview .block-editor-block-preview__content .components-disabled {
	transform: initial;
	text-align: initial;
}
.amp-stories__editor-inserter__results .components-disabled,
.amp-stories__editor-inserter__results .components-disabled div:first-of-type,
.amp-stories__editor-inserter__results .components-disabled .editor-inner-blocks {
	padding: 0;
	height: 100%;
	width: 100%;
}

.amp-stories__editor-inserter__results .block-editor-block-preview .wp-block {
	transform: scale(0.48) translateX(-40%) translateY(-40%);
}

.amp-stories__editor-inserter__results .block-editor-block-types-list {
	padding: 10px;
}

/*
 * Preview Picker component
 *
 * Styling derived form font size picker in Gutenberg
 */
.components-preview-picker__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.components-preview-picker__dropdown-content .components-button {
	display: block;
	position: relative;
	padding: 10px 20px 10px 40px;
	width: 100%;
	text-align: left;
}

.components-preview-picker__dropdown-content .components-button:hover {
	color: #191e23;
	border: none;
	box-shadow: none;
	background: #f3f4f5;
}

.components-preview-picker__dropdown-content .components-button:focus {
	color: #191e23;
	border: none;
	box-shadow: none;
	outline-offset: -2px;
	outline: 1px dotted #555d66;
}

.components-preview-picker__dropdown-content .components-button .dashicon {
	position: absolute;
	top: calc(50% - 10px);
	left: 10px;
}

.components-preview-picker__dropdown-content .components-button .editor-block-icon {
	position: absolute;
	top: calc(50% - 10px);
	right: 10px;
}

.components-preview-picker__buttons .components-preview-picker__selector {
	background: none;
	position: relative;
	width: 200px;
	box-shadow: 0 0 0 transparent;
	transition: box-shadow 0.1s linear;
	border-radius: 4px;
	border: 1px solid #8d96a0;
}

.components-preview-picker__buttons .components-preview-picker__selector:focus {
	color: #191e23;
	border-color: #00a0d2;
	box-shadow: 0 0 0 1px #00a0d2;
	outline: 2px solid transparent;
	outline-offset: -2px;
}

.components-preview-picker__buttons .components-preview-picker__selector::after {
	content: "";
	pointer-events: none;
	display: block;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 5px solid currentColor;
	margin-left: 4px;
	margin-right: 2px;
	right: 8px;
	top: 12px;
	position: absolute;
}

/*
 * Custom block mover.
 */

.amp-story-editor-block-mover {
	position: absolute;
	width: 30px;
	height: 100%;
	max-height: 112px;
	top: -15px;
	z-index: 80;
	padding-right: 2px;
	left: -45px;
	margin-top: -8px;
	opacity: 0;
	animation: none;
	transition: opacity .3s;
}

.amp-story-editor-block-mover.is-visible,
div[data-type="amp/amp-story-page"] .wp-block:hover .amp-story-editor-block-mover {
	opacity: 1;
}

/**
 * 11. Text Block.
 */
.wp-block[data-type="amp/amp-story-text"] p {
	margin: 0;
}

.wp-block-amp-story-text .editor-rich-text__editable {
	width: 100%;
}

.amp-story-text__resize-container .components-resizable-box__handle-right {
	right: -26px;
	height: 50px;
	top: calc(50% - 25px);
}
.amp-story-text__resize-container .components-resizable-box__handle-right::before {
	margin: 14px 0;
}
.amp-story-text__resize-container .components-resizable-box__handle-bottom {
	bottom: -26px;
	width: 50px;
	left: calc(50% - 25px);
}
.amp-story-text__resize-container .components-resizable-box__handle-bottom::before {
	margin: 0 auto;
}

.editor-styles-wrapper #amp-story-editor .wp-block .wp-block[data-type="amp/amp-story-text"] {
	width: initial;
}

.wp-block[data-type="amp/amp-story-text"] .components-resizable-box__handle,
.wp-block.is-typing[data-type="amp/amp-story-text"] .components-resizable-box__handle{
	display: block;
	opacity: 0;
	transition: opacity .3s;
}

.wp-block[data-type="amp/amp-story-text"]:hover .components-resizable-box__handle,
.wp-block[data-type="amp/amp-story-text"] .components-resizable-box__handle:hover {
	opacity: 100;
}

.wp-block[data-type="amp/amp-story-text"] .block-editor-rich-text__editable,
div[data-type="amp/amp-story-page"] .block-editor-inner-blocks .block-editor-block-list__block-edit
{
	display: inline-block;
}

/**
 * CTA Block
 */

.block-editor-block-list__block[data-type="amp/amp-story-cta"][data-align="center"] {
	text-align: center;
}

.block-editor-block-list__block[data-type="amp/amp-story-cta"][data-align="right"] {
	/*!rtl:ignore*/
	text-align: right;
}

.block-editor-block-list__block[data-type="amp/amp-story-cta"] .block-editor-block-list__block-edit {
	width: 100%;
}

.block-editor-block-list__block[data-type="amp/amp-story-cta"] .block-editor-block-list__block-edit:before {
	left: 0;
	right: 0;
}

.block-editor-block-list__block[data-type="amp/amp-story-cta"] .block-editor-block-contextual-toolbar {
	margin-left: -1px;
	margin-right: 0;
}

.wp-block-amp-amp-story-cta {
	display: inline-block;
	margin-bottom: 0;
	position: relative;
}

.wp-block-amp-amp-story-cta [contenteditable] {
	cursor: text;
}

.wp-block-amp-amp-story-cta:not(.has-text-color):not(.is-style-outline) .block-editor-rich-text__editable[data-is-placeholder-visible="true"] + .block-editor-rich-text__editable {
	color: #fff;
}

.wp-block-amp-amp-story-cta .block-editor-rich-text__editable[data-is-placeholder-visible="true"] + .block-editor-rich-text__editable {
	opacity: 0.8;
}

.block-editor-block-preview__content .wp-block-amp-amp-story-cta {
	max-width: 100%;
}

.wp-block-amp-amp-story-cta .block-editor-rich-text__editable[data-is-placeholder-visible="true"] {
	height: auto;
}

.wp-block-amp-amp-story-cta .amp-block-story-cta__link {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.amp-block-story-cta__link {
	background-color: #32373c;
	border: none;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	overflow-wrap: break-word;
}

.amp-block-story-cta__inline-link {
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,"Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1.4;
	width: calc( 300px + 2px + 2 * 36px );
	position: absolute;
	z-index: 10;
	margin-top: -1.5em;
}

.amp-block-story-cta__inline-link .block-editor-url-input {
	width: auto;
}

.amp-block-story-cta__inline-link .block-editor-url-input__suggestions {
	width: calc( 300px + 2px );
	z-index: 10;
}

.amp-block-story-cta__inline-link > .dashicon {
	width: 36px;
}

.amp-block-story-cta__inline-link .dashicon {
	color: #8f98a1;
}

.amp-block-story-cta__inline-link .block-editor-url-input input[type="text"]::placeholder {
	color: #8f98a1;
}

[data-align="center"] .amp-block-story-cta__inline-link {
	margin-left: auto;
	margin-right: auto;
}

[data-align="right"] .amp-block-story-cta__inline-link {
	margin-left: auto;
	margin-right: 0;
}

/*
 * 100. Shame
 */

/*
 * 100.1 Gutenberg - Warning div not clickable
 * Fixes Gutenberg bug where an extra wrapping div is causing no pointer events on the notice layer.
 */

.editor-block-list__layout .editor-block-list__block.has-warning .editor-block-list__block-edit > :not(.editor-warning) {
	pointer-events: all;
}

.editor-block-list__layout .editor-block-list__block.has-warning .editor-block-list__block-edit > div > div:not(.editor-warning) {
	pointer-events: none;
}

div[data-amp-image-caption="noCaption"] figure.wp-block-image figcaption {
	display: none;
}
