/**
* 1.0 AMP preview.
*
* Submit box preview buttons.
*/

/* Core preview button */
.wp-core-ui #preview-action.has-amp-preview #post-preview {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	float: none;
}

/* AMP preview button */
.wp-core-ui #amp-post-preview.preview {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	text-indent: -9999px;
	width: 30px;
	background: no-repeat center url( '../images/amp-icon.svg' ) !important; /* Important needed due to .disabled rule in buttons.css */
	background-size: 14px !important;
}
.wp-core-ui #amp-post-preview.preview.disabled {
	opacity: 0.7;
}

/* AMP status */
.misc-amp-status .amp-icon {
	float: left;
	background: transparent url( '../images/amp-icon.svg' ) no-repeat left;
	background-size: 17px;
	width: 17px;
	height: 17px;
	margin: 0 8px 0 1px;
}

#amp-status-select {
	margin-top: 4px;
}

.amp-status-actions {
	margin-top: 10px;
}

@media screen and ( max-width: 782px ) {
	#amp-status-select {
		line-height: 280%;
	}
}
