amp-story-grid-layer[template="fill"] .wp-block-image { margin: 0; }

.has-background {
	padding: 10px !important;
}

.amp-story__has-rounded-corners,
div[data-rounded-corners="true"] figure.wp-block-image,
.wp-block-image[data-rounded-corners="true"] img {
	border-radius: 8px;
}
