.is-amp-fit-text + .blocks-font-size > .components-font-size-picker__buttons,
.is-amp-fit-text + .blocks-font-size > .components-font-size-picker__custom-input {
	display: none;
}

/* Latest Stories block */
.amp-block-latest-stories > .latest-stories-carousel {
	display: flex;
	flex-wrap: nowrap;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	overflow-y: hidden;
	margin: 0;
	padding: 0;
}

.latest-stories-carousel .latest-stories__slide {
	flex: 0 0 auto;
	margin-left: 1rem;
}
