/*------------------------------------------------------------------
[Table of contents]

	1. Style story pages wrapper
	2. Selected state
		2.1 Selected label
	3. Story page dimensions
	4. Layers stacking
		4.1 Hide layers above
		4.2 Blur layers above
		4.3 Stroke text for legibility.
	5. Layers Styling
		5.2 Fill layer
		5.3 CTA layer
	6. Inserter customisations.
		6.1 Ghosted page inserter
	7. Block navigator
	8. Block mover
	9. General block editor components
	10. Custom Components
	100. Shame
		100.1 Gutenberg - Warning div not clickable

-------------------------------------------------------------------*/


/*
 * 1. Style story pages wrapper.
 * - Add thicker border around the pages
 * - Change background to light gray
 */

div[data-type="amp/amp-story-page"] {
	border: 5px solid #eff0f1;
	border-radius: 5px;
}

div[data-type="amp/amp-story-page"]::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #eff0f1;
	transition: background-color 300ms linear;
}

.editor-block-list__layout div[data-type="amp/amp-story-page"] .components-placeholder.wp-block-image {
	background: #f9f9f9;
}

/*
 * 2. Selected state outlines.
 * Change default gray selected highlights into blue,
 * as gray was not visible in a multi-layer setup.
 */

.editor-block-list__layout div[data-type="amp/amp-story-page"].is-selected > .editor-block-list__block-edit::before {
	outline: 1px solid #007cba;
}

.amp-grid-template .editor-block-list__layout .editor-block-list__block.is-selected > .editor-block-list__block-edit::before,
.amp-grid-template .editor-block-list__layout .editor-block-list__block.is-typing > .editor-block-list__block-edit::before
{
	outline: 1px solid #007cba;
}

div[data-type="amp/amp-story-page"][data-amp-selected="parent"] > div > div > div > .editor-inner-blocks > .editor-block-list__layout > .is-selected > .editor-block-list__block-edit::before {
	outline: 1px solid #007cba;
}

/* Remove one default outline as it was unnecessary with the above implementation. */

.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit::before {
	outline: none;
}

/*
 * 2.1 Selected label
 * Show label while the layer is selected
 */

 .post-type-amp_story .editor-block-list__breadcrumb {
	 z-index: 6;
	 pointer-events: none;
 }

 .post-type-amp_story .editor-block-list__block:hover .editor-block-list__breadcrumb .components-toolbar {
	 opacity: 1;
	 animation: none;
 }

/*
 * 3. Story page dimensions.
 * Fix the page editor size to the ratio of the stories.
 */

.editor-block-list__layout div[data-type="amp/amp-story-page"] {
	padding: 0;
	margin: 60px 0 0;
}

@media (min-width: 600px) {
	div[data-type="amp/amp-story-page"] .editor-block-list__block {
		margin: 0;
		padding: 0;
	}
}

div[data-type="amp/amp-story-page"],
div[data-type="amp/amp-story-page"] .editor-inner-blocks .editor-block-list__layout:first-of-type {
	margin: auto;
	width: 100%;
	max-width: 338px;
	height: 553px;
}

div[data-type="amp/amp-story-page"] .editor-block-list__layout > .block-list-appender {
	width: 316px;
}

/*
 * 4. Layers stacking.
 * Setup on top of each other layering on the story children.
 */

.editor-block-list__layout div[data-type="amp/amp-story-page"].editor-block-list__block:first-child .editor-block-list__block-edit {
	margin: 0;
}

.editor-block-list__layout div[data-type="amp/amp-story-page"].editor-block-list__block .editor-block-list__block-edit,
.editor-block-list__layout .editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit {
	margin: 0;
}

div[data-type="amp/amp-story-page"] .editor-inner-blocks .editor-block-list__layout .editor-block-list__layout {
	background-color: initial;
}

.editor-block-list__layout div[data-amp-selected="parent"] {
	z-index: 1;
}

.amp-grid-template .editor-block-list__layout:first-of-type {
	display: grid;
	padding: 68px 32px 32px;
}

.amp-grid-template .editor-block-list__layout:first-of-type > .wp-block {
	margin-top: 17px;
	margin-bottom: 17px;
}

.amp-grid-template .editor-block-list__layout:first-of-type > .wp-block:first-of-type {
	margin-top: 0;
}

.amp-grid-template .editor-block-list__layout:first-of-type *:not(.editor-block-toolbar) {
	box-sizing: border-box;
}

.amp-grid-template-vertical .editor-block-list__layout:first-of-type {
	grid-auto-flow: row;
	grid-template-columns: 100%;
	align-content: start;
	grid-gap: 16px;
	-webkit-box-pack: stretch;
	-ms-flex-pack: stretch;
	justify-content: stretch;
	justify-items: start;
}

.amp-grid-template-vertical .editor-block-list__block {
	width: 100%;
}

/*
 * 4.3 Stroke text for legibility.
 * Add white stroke to text in layers in order to be legible
 * while editing on top of varying colored background.
 */

.amp-grid-template .editor-block-list__layout .editor-block-list__block.is-selected > .editor-block-list__block-edit .editor-rich-text,
.amp-grid-template .editor-block-list__layout .editor-block-list__block.is-typing > .editor-block-list__block-edit .editor-rich-text {
	text-shadow:
		0.05em 0 rgba( 255, 255, 255, 0.8 ),
		0 0.05em rgba( 255, 255, 255, 0.8 ),
		-0.05em 0 rgba( 255, 255, 255, 0.8 ),
		0 -0.05em rgba( 255, 255, 255, 0.8 ),
		-0.05em -0.05em rgba( 255, 255, 255, 0.8 ),
		-0.05em 0.05em rgba( 255, 255, 255, 0.8 ),
		0.05em -0.05em rgba( 255, 255, 255, 0.8 ),
		0.05em 0.05em rgba( 255, 255, 255, 0.8 );
}

.amp-grid-template .editor-block-list__layout .editor-block-list__block .editor-rich-text__tinymce + .editor-rich-text__tinymce,
.amp-grid-template .editor-block-list__layout .editor-block-list__block .editor-rich-text__tinymce + .editor-rich-text__tinymce p {
	opacity: 0.9;
	text-shadow:
		0.05em 0 rgba( 255, 255, 255, 0.8 ),
		0 0.05em rgba( 255, 255, 255, 0.8 ),
		-0.05em 0 rgba( 255, 255, 255, 0.8 ),
		0 -0.05em rgba( 255, 255, 255, 0.8 ),
		-0.05em -0.05em rgba( 255, 255, 255, 0.8 ),
		-0.05em 0.05em rgba( 255, 255, 255, 0.8 ),
		0.05em -0.05em rgba( 255, 255, 255, 0.8 ),
		0.05em 0.05em rgba( 255, 255, 255, 0.8 );
}

/*
 * 5. Layers Styling
 */

/*
 * 5.2 Fill layer.
 * Style the fill image & fill video type layers.
 */

.amp-grid-template-fill .editor-block-list__layout > :first-child {
	bottom: 0;
	display: block;
	height: auto;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
	display: flex;
}

.amp-grid-template-fill .editor-block-list__block-edit {
	display: flex;
	flex-direction: column;
}

.amp-grid-template-fill .editor-block-list__block-edit > div:last-child {
	display: flex;
	flex: 1;
}

.amp-grid-template-fill .components-resizable-box__container {
	width: 318px;
	height: 533px;
}

.amp-grid-template-fill .components-disabled {
	width: 318px;
	max-height: 533px;
	overflow: hidden;
}

.amp-grid-template-fill .wp-block-image,
.amp-grid-template-fill .wp-block-video {
	margin-top: 0;
	margin-bottom: 0;
}

.amp-grid-template-fill .components-resizable-box__container img {
	object-fit: cover;
	width: 318px !important;
	height: 533px !important;
}

.amp-grid-template-fill > :not(:first-child) {
	display: none;
}

/*
 * 6. Inserter customisations.
 */

.components-popover.editor-inserter__amp .components-popover__content {
	height: 200px;
}

/* Hide inserter inside of the page when block navigator is visible */
@media (min-width: 961px) {
	div[data-type="amp/amp-story-page"] .block-list-appender {
		display: none;
	}

	.post-type-amp_story .amp-grid-template .editor-block-list__layout:first-of-type {
		padding-top: 24px;
	}
}

/*
 * 7. Block Navigation and Page Carousel

 * Hides the toggler and shows the navigator by default on large screens.
 */

@media( max-width: 960px) {
	.editor-block-list__block-edit > div > .editor-selectors {
		display: none;
	}

	#amp-root-navigation {
		display: none;
	}
}

@media (min-width: 961px) {
	.post-type-amp_story .editor-writing-flow > div > div {
		overflow: hidden;
	}

	.post-type-amp_story .editor-writing-flow > div > div > .editor-block-list__layout {
		padding-left: 0;
		padding-right: 0;
		display: flex;
		align-items: center;
		transform: none;
		transition: transform 300ms linear;
	}

	.editor-block-list__layout div[data-type="amp/amp-story-page"] {
		flex: 0 0 auto;
		position: relative;
		transition: border 300ms linear;
	}

	.editor-block-list__layout div[data-type="amp/amp-story-page"] + div[data-type="amp/amp-story-page"] {
		margin-left: 20px;
	}

	.editor-block-list__layout [data-type="amp/amp-story-page"].amp-page-active {
		border-color: #ccc;
	}

	.editor-block-list__layout [data-type="amp/amp-story-page"].amp-page-active::after {
		background-color: #ccc;
	}

	.editor-block-list__layout [data-type="amp/amp-story-page"].amp-page-inactive {
		opacity: .5;
		pointer-events: none;
	}

	.editor-block-list__layout div[data-type="amp/amp-story-page"] .amp-story-page-number {
		position: absolute;
		top: -3em;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
		color: #666;
		letter-spacing: 1px;
	}

	.amp-story-editor-carousel-navigation {
		display: flex;
		justify-content: space-between;
		margin-top: 2em;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list {
		flex: 1;
		display: flex;
		margin: 0;
		padding: 0;
		list-style-type: none;
		justify-content: center;
		max-width: 30%;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item {
		flex: 1;
		height: .5em;
		max-width: 5em;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item + .amp-story-editor-carousel-item {
		margin-left: 20px;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button {
		background: #eff0f1;
		width: 100%;
		height: 100%;
		display: block;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button:hover,
	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button:focus {
		background: #e0e0e0;
	}

	.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item--active button {
		background: #666;
	}

	.editor-post-title {
		position: relative;
	}

	.editor-post-title .amp-story-controls {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
	}

	.edit-post-visual-editor .editor-post-title__block {
		margin-left: 0;
		margin-right: 0;
	}

	.amp-story-controls-reorder-cancel {
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 20px;
	}

	.amp-story-reorderer {
		margin-top: 100px;
		display: grid;
		grid-template-columns: repeat(auto-fill, 169px);
		grid-gap: 1rem;
		justify-content: space-between;
	}

	.amp-story-reorderer .amp-story-reorderer-item {
		margin: 0 auto 10px;
		width: 100%;
		max-width: 169px;
		height: 277px;
		position: relative;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone {
		border: none;
		border-radius: 0;
		background: transparent;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-active {
		opacity: 0;
		visibility: hidden;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-page,
	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element {
		opacity: 1;
		visibility: visible;
		transition: opacity .3s,background-color .3s;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-page {
		background: #eff0f1;
		border: none !important;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element.is-close-to-right {
		border-right: 3px solid #0071a1;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone.is-dragging-over-element.is-close-to-left {
		border-left: 3px solid #0071a1;
	}

	.amp-story-reorderer .amp-story-reorderer-item .components-drop-zone__content,
	.amp-story-reorderer .amp-story-reorderer-item .is-dragging-over-element .components-drop-zone__content {
		display: none;
	}

	.amp-story-reorderer .amp-story-page-preview {
		border: 5px solid #eff0f1;
		border-radius: 5px;
		background: #fff;
		width: 100%;
		height: 277px;
		cursor: grab;
	}

	.amp-story-reorderer .amp-story-page-preview .editor-styles-wrapper {
		margin: 0;
	}

	.amp-story-reorderer .amp-story-page-preview .editor-block-list__layout {
		padding: 0;
	}

	.amp-story-reorderer .amp-story-page-preview .block-list-appender {
		display: none;
	}

	.components-icon-button.editor-block-navigation {
		display: none;
	}

	#amp-root-navigation {
		position: absolute;
		left: 5px;
		top: 218px;
		width: 300px;
		z-index: 80;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#amp-root-navigation .editor-inserter {
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
	}

	.post-type-amp_story #amp-root-navigation .components-popover:not(.is-mobile).is-center .components-popover__content {
		transform: translateX( -13% );
	}

	.post-type-amp_story.folded #amp-root-navigation .components-popover:not(.is-mobile):not(.is-middle).is-right .components-popover__content {
		margin-left: -50px;
	}

	/*
		Legend of the magic numbers:
		Sidebar
			Expanded - 160px wide
			Folded - 36px wide
		Settings
			Shown - 280px wide
		Content - 383px (including 15px padding)
		Block Navigation - <= 300px
	*/
	:root {
		--block-settings-sidebar-width: 280px;
		--admin-menu-expanded-sidebar-width: 160px;
		--admin-menu-collapsed-sidebar-width: 36px;
		--amp-story-content-width: 338px;
		--block-editor-horizontal-margin: 40px;
		--scrollbar-width: 20px;
		--block-navigation-right-margin: 20px;
	}

	/* Navigator in the context of the open sidebar, settings hidden. */
	.post-type-amp_story:not(.folded) .edit-post-layout #amp-root-navigation {
		max-width: calc(
			calc(
				100vw
				-
				var(--admin-menu-expanded-sidebar-width)
				-
				var(--amp-story-content-width)
				-
				calc( var(--block-editor-horizontal-margin) * 2 )
				-
				var( --scrollbar-width )
			) / 2
			-
			var(--block-navigation-right-margin)
		);
	}

	.post-type-amp_story.folded .edit-post-layout #amp-root-navigation {
		max-width: calc(
			calc(
				100vw
				-
				var(--admin-menu-collapsed-sidebar-width)
				-
				var(--amp-story-content-width)
				-
				calc( var(--block-editor-horizontal-margin) * 2 )
				-
				var( --scrollbar-width )
			) / 2
			-
			var(--block-navigation-right-margin)
		);
	}

	.post-type-amp_story .edit-post-layout .editor-writing-flow > div > div {
		grid-template-columns: auto minmax( 368px, calc( 100vw - var(--admin-menu-expanded-sidebar-width) - 315px ) ); /* @todo Replace 368px and 315px with variables. */
	}

	/* Navigator in the context of minimum available space - open sidebar, settings shown. */
	.post-type-amp_story .edit-post-layout.is-sidebar-opened #amp-root-navigation {
		max-width: calc(
			calc(
				100vw
				-
				var(--admin-menu-expanded-sidebar-width)
				-
				var(--block-settings-sidebar-width)
				-
				var(--amp-story-content-width)
				-
				calc( var(--block-editor-horizontal-margin) * 2 )
				-
				var( --scrollbar-width )
			) / 2
			-
			var(--block-navigation-right-margin)
		);
	}

	.post-type-amp_story .edit-post-layout.is-sidebar-opened .editor-writing-flow > div > div {
		grid-template-columns: auto minmax( 368px, calc( 100vw - var(--block-settings-sidebar-width) - var(--admin-menu-expanded-sidebar-width) - 315px ) ); /* @todo Replace 368px and 315px with variables. */
	}

	/* Navigator in the context of folded sidebar, settings hidden. */
	.post-type-amp_story.folded #amp-root-navigation {
		max-width: calc( 100vw - var(--admin-menu-collapsed-sidebar-width) - var(--amp-story-content-width) );
	}

	.post-type-amp_story.folded .edit-post-visual-editor .editor-writing-flow > div > div {
		grid-template-columns: auto minmax( 368px, calc( 100vw - var(--admin-menu-collapsed-sidebar-width) - 315px ) ); /* @todo Replace 368px and 315px with variables. */
	}

	/* Navigator in the context of folded sidebar, settings shown. */
	.post-type-amp_story.folded .edit-post-layout.is-sidebar-opened #amp-root-navigation {
		max-width: calc(
			calc(
				100vw
				-
				var(--admin-menu-collapsed-sidebar-width)
				-
				var(--block-settings-sidebar-width)
				-
				var(--amp-story-content-width)
				-
				calc( var(--block-editor-horizontal-margin) * 2 )
				-
				var( --scrollbar-width )
			) / 2
			-
			var(--block-navigation-right-margin)
		);
	}

	.post-type-amp_story.folded .edit-post-layout.is-sidebar-opened .editor-writing-flow > div > div {
		grid-template-columns: auto minmax( 368px, calc( 100vw - var(--admin-menu-collapsed-sidebar-width) - var(--block-settings-sidebar-width) - 315px ) ); /* @todo Replace 368px and 315px with variables. */
	}

	#amp-root-navigation .editor-block-navigation__list {
		list-style-type: none;
	}

	#amp-root-navigation .components-icon-button .dashicon {
		margin-right: 5px;
	}

	.editor-block-navigation__container {
		background: #fff;
		border: 1px solid #eee;
	}

	.editor-block-navigation__container .component-editor__selector button {
		background: no-repeat left top;
		padding-left: 37px;
		height: 40px;
		margin: 1px 0 1px 4px;
	}

	.editor-block-navigation__container .component-editor__selector .components-button:focus {
		box-shadow: none;
	}

	.post-type-amp_story .components-range-control__number {
		width: 60px;
	}
}

/*
 * 8. Block mover
 * Disable the block mover at all times.
 */

.post-type-amp_story .editor-block-mover {
	display: none !important;
}

/*
 * 9. General block editor components
 */

.editor-amp-story-page-background {
	display: block;
}

.editor-amp-story-page-background + .is-destructive {
	margin-top: 1em;
}

.editor-amp-story-page-video-wrap {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.editor-amp-story-page-video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	pointer-events: none;
}

#editor-amp-story-page-poster__help {
	margin-top: 0;
}

/*
 * 10. Custom Components
 */

/*
 * Preview Picker component
 *
 * Styling derived form font size picker in Gutenberg
 */
.components-preview-picker__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.components-preview-picker__dropdown-content .components-button {
	display: block;
	position: relative;
	padding: 10px 20px 10px 40px;
	width: 100%;
	text-align: left;
}

.components-preview-picker__dropdown-content .components-button:hover {
	color: #191e23;
	border: none;
	box-shadow: none;
	background: #f3f4f5;
}

.components-preview-picker__dropdown-content .components-button:focus {
	color: #191e23;
	border: none;
	box-shadow: none;
	outline-offset: -2px;
	outline: 1px dotted #555d66;
}

.components-preview-picker__dropdown-content .components-button .dashicon {
	position: absolute;
	top: calc(50% - 10px);
	left: 10px;
}

.components-preview-picker__dropdown-content .components-button .editor-block-icon {
	position: absolute;
	top: calc(50% - 10px);
	right: 10px;
}

.components-preview-picker__buttons .components-preview-picker__selector {
	background: none;
	position: relative;
	width: 200px;
	box-shadow: 0 0 0 transparent;
	transition: box-shadow 0.1s linear;
	border-radius: 4px;
	border: 1px solid #8d96a0;
}

.components-preview-picker__buttons .components-preview-picker__selector:focus {
	color: #191e23;
	border-color: #00a0d2;
	box-shadow: 0 0 0 1px #00a0d2;
	outline: 2px solid transparent;
	outline-offset: -2px;
}

.components-preview-picker__buttons .components-preview-picker__selector::after {
	content: "";
	pointer-events: none;
	display: block;
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 5px solid currentColor;
	margin-left: 4px;
	margin-right: 2px;
	right: 8px;
	top: 12px;
	position: absolute;
}

/*
 * 100. Shame
 */

/*
 * 100.1 Gutenberg - Warning div not clickable
 * Fixes Gutenberg bug where an extra wrapping div is causing no pointer events on the notice layer.
 */

.post-type-amp_story .editor-block-list__layout .editor-block-list__block.has-warning .editor-block-list__block-edit > :not(.editor-warning) {
	pointer-events: all;
}

.post-type-amp_story .editor-block-list__layout .editor-block-list__block.has-warning .editor-block-list__block-edit > div > div:not(.editor-warning) {
	pointer-events: none;
}

div[data-amp-image-caption="noCaption"] figure.wp-block-image figcaption {
    display: none;
}
