body {
	background-color: #fafafc;
	font-family: "Noto Sans", sans-serif;
}

/**
 * Main container.
 */
.amp-onboarding-wizard-container {
	--stepper-max-width: 250px;
	--setup-page-max-width: 1000px;
	margin: 0 auto;
	max-width: calc(var(--stepper-max-width) + var(--setup-page-max-width));
	padding: 20px 20px 10rem;
	width: 100%;

	@media screen and (max-width: 782px) {
		padding-bottom: 5rem;
	}
}

.amp-onboarding-wizard {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;

	@media screen and (min-width: 783px) {
		flex-direction: row;
	}
}

.amp-onboarding-wizard__logo-container {
	align-items: center;
	display: flex;
}

.amp-onboarding-wizard__logo-container svg {
	height: 42px;
	width: 42px;
}

.amp-onboarding-wizard__logo-container h1 {
	color: var(--amp-settings-color-brand);
	font-size: 24px;
	font-weight: 700;
	margin-left: 0.75rem;
	-webkit-font-smoothing: antialiased;
}

/**
 * Main app panel.
 */
.amp-onboarding-wizard-panel-container {
	margin-left: -20px;
	margin-right: -20px;

	@media screen and (min-width: 783px) {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}

.amp-onboarding-wizard-panel {
	border-color: rgba(0, 0, 0, 0);
	box-shadow: 0 25px 60px rgba(0, 0, 0, 0.1);
	max-width: var(--setup-page-max-width);
	min-height: 496px;
	padding: 20px;
	width: 100%;

	@media screen and (min-width: 783px) {
		border-radius: 10px;
		padding: 40px;
	}
}

.amp-onboarding-wizard-panel h1 {
	line-height: 1.1;
}

/**
 * Sidebar.
 */
.amp-onboarding-wizard-plugin-name {
	color: var(--amp-settings-color-muted);
	font-size: 16px;
	line-height: 1.5;
	padding: 0.5rem 0 0;
}

.amp-onboarding-wizard-plugin-name::after {
	border-bottom: 2px solid var(--amp-settings-color-border);
	display: block;
	content: "";
	margin: 15px auto;
	width: 100%;

	@media screen and (min-width: 783px) {
		margin-bottom: 0;
	}
}

.amp-stepper-container {
	width: 100%;

	@media screen and (min-width: 783px) {
		padding-right: 40px;
		max-width: var(--stepper-max-width);
	}
}

.amp .amp-stepper-container__header > .is-link {
	float: right;
	padding: 8px;
}

.amp-stepper ul {
	display: flex;
	justify-content: space-between;
	margin-top: 0;
	width: 100%;

	@media screen and (min-width: 783px) {
		flex-direction: column;
	}
}

.amp-stepper__item {
	align-items: center;
	display: flex;
	font-size: 14px;
	position: relative;

	@media screen and (min-width: 783px) {
		padding: 15px 10px 8px 0;
	}
}

.amp-stepper__item--active {
	border-radius: 4px;
	font-weight: 600;
}

.amp-stepper__item::before {
	bottom: -50%;
	border-left: 2px solid var(--amp-settings-color-border);
	content: "";
	left: 11px;
	position: absolute;
	top: 60%;
	z-index: 1;

	@media screen and (max-width: 784px) {
		display: none;
	}
}

.amp-stepper__item:last-of-type::before {
	display: none;
}

.amp-stepper__item--done::before {
	border-left-color: var(--amp-settings-color-brand);
}

.amp-stepper__item-title {
	color: var(--amp-settings-color-muted);
	display: none;
	margin-left: 18px;

	@media screen and (min-width: 783px) {
		display: inline-block;
	}
}

.amp-stepper__bullet {
	align-items: center;
	background-color: var(--amp-settings-color-background);
	border: 2px solid var(--amp-settings-color-border);
	border-radius: 12px;
	color: var(--gray);
	content: attr(data-index);
	display: flex;
	height: 24px;
	justify-content: center;
	position: relative;
	width: 24px;
	z-index: 2;
}

.amp-stepper__bullet--check {
	background-color: var(--amp-settings-color-brand);
	border-color: var(--amp-settings-color-brand);
}

.amp-stepper__bullet--dot {
	border-color: var(--amp-settings-color-brand);
}

.amp-stepper__bullet--dot span {
	background-color: var(--amp-settings-color-brand);
	border-radius: 5px;
	height: 10px;
	width: 10px;
}

/**
 * Utils.
 */
.grid {
	display: grid;
	gap: 40px;
}

.grid-1-1 {

	@media screen and (min-width: 783px) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.grid-1-2 {

	@media screen and (min-width: 783px) {
		grid-template-columns: 1fr 2fr;
	}
}

.grid-2-1 {

	@media screen and (min-width: 783px) {
		grid-template-columns: 2fr 1fr;
	}
}

.grid-1-3 {

	@media screen and (min-width: 783px) {
		grid-template-columns: 1fr 3fr;
	}
}

.grid-3-1 {

	@media screen and (min-width: 783px) {
		grid-template-columns: 3fr 1fr;
	}
}

.grid-5-4 {

	@media screen and (min-width: 783px) {
		grid-template-columns: 5fr 4fr;
	}
}
