@keyframes rotate-forever {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#toplevel_page_amp-options > ul > li span.loading {
	animation-duration: 0.75s;
	animation-iteration-count: infinite;
	animation-name: rotate-forever;
	animation-timing-function: linear;
	height: 4px;
	width: 4px;
	border: 2px solid #fff;
	border-right-color: transparent;
	border-top-color: transparent;
	border-radius: 50%;
	display: inline-block;
}
