#amp-story-editor-carousel {
	display: none;
}

@media (min-width: 961px) {

	#amp-story-editor-carousel {
		display: block;
	}
}

#amp-story-editor {
	position: relative;
	overflow: hidden;
}

#amp-story-editor > .editor-block-list__layout {
	padding-left: 0;
	padding-right: 0;
	display: flex;
	align-items: center;
	transform: none;
	transition: transform 300ms ease-in-out;
}

#amp-story-editor > .editor-block-list__layout .block-list-appender {
	display: none;
}

.amp-story-editor-carousel-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 5em;
}

#amp-story-editor-carousel .amp-story-editor-carousel-navigation .components-drop-zone__provider{ width: 30% }

.editor-styles-wrapper ul.amp-story-editor-carousel-item-list {
	flex: 1;
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	justify-content: center;
	max-width: 100%;
}

.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item {
	position: relative;
	flex: 1;
	height: .5em;
	max-width: 5em;
}

.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item + .amp-story-editor-carousel-item {
	margin-left: 20px;
}

.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button {
	background: #eff0f1;
	width: 100%;
	height: 100%;
	display: block;
}

.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button:hover,
.editor-styles-wrapper ul.amp-story-editor-carousel-item-list button:focus {
	background: #e0e0e0;
}

.editor-styles-wrapper ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item--active button {
	background: #d1d1d1;
}

ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .components-drop-zone {
	border: none;
	border-radius: 0;
	background: transparent;
}

ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .components-drop-zone.is-active {
	opacity: 0;
	visibility: hidden;
}

ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .components-drop-zone.is-dragging-indicator,
ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .components-drop-zone.is-dragging-over-element {
	opacity: 1;
	visibility: visible;
	transition: opacity .3s, background-color .3s;
}

ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .components-drop-zone.is-dragging-indicator {
	background: #eff0f1;
	border: none !important;
	margin: 0 10px;
}

ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .components-drop-zone.is-dragging-over-element.is-close-to-right {
	border-right: 5px solid #0071a1;
}

ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .components-drop-zone.is-dragging-over-element.is-close-to-left {
	border-left: 5px solid #0071a1;
}

ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .components-drop-zone__content,
ul.amp-story-editor-carousel-item-list .amp-story-editor-carousel-item .is-dragging-over-element .components-drop-zone__content {
	display: none;
}
