.template-mode-option {
	margin-bottom: 2.5rem;
}

.template-mode-selection__details p {
	font-size: 13px;
	line-height: 1.85;
}

.template-mode-option label {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 0.75rem;
}

.template-mode-option label::after {
	border-bottom: 1px solid #e2e4e7;
	content: "";
	margin: 1rem auto 0;
	width: 100%;
}

.template-mode-selection__input-container {
	padding: 1.5rem 1.5rem 1.5rem 0;
}

.template-mode-selection__illustration {
	flex-shrink: 0;
	width: 80px;
}

.template-mode-option .amp-info {
	margin-bottom: 0.5rem;

	@media screen and (min-width: 783px) {
		margin-left: 1.5rem;
	}
}

.template-mode-selection__details {
	margin-bottom: 1rem;
}

.template-mode-option .components-panel__row {
	margin-left: -16px;
}

.template-mode-option .components-panel__body-toggle.components-button {
	font-family: var(--font-noto);
	font-size: 13px;
	font-weight: 400;
	line-height: 1.85;
	padding-left: 0;
}

.template-mode-option .components-panel__body-title:hover {
	background: rgba(0, 0, 0, 0) !important;
}

.template-mode-selection__description {
	align-items: center;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 1.5rem;
	padding: 0;

	@media screen and (min-width: 783px) {
		margin-bottom: 0;
		padding: 0 0 0 1rem;
	}
}

.template-mode-selection__description h2 {
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 0;
	margin-top: 0;
}

.template-mode-option > .amp-notice .components-panel__arrow {
	right: 0;
}

.template-mode-option .components-panel__body-title:hover {
	background: rgba(0, 0, 0, 0);
}

.template-mode-option .components-panel__body-toggle:hover,
.template-mode-option .components-panel__body-toggle:active,
.template-mode-option .components-panel__body-toggle:focus {
	color: inherit;
}

.template-mode-option .components-panel__arrow {
	height: 2rem;
	width: 2rem;
}

.template-mode-option .components-panel__body {
	border-bottom-width: 0;
	border-top-width: 0;
}

.template-mode-option .components-panel__body-title button {
	padding-left: 1.5rem;
	padding-right: 3rem;
	padding-top: 0.5rem;
	cursor: default;
}

.template-mode-option .components-panel__body-title button .components-panel__arrow {
	top: 1.125rem;
	display: none; /* @todo Drawer will be expandable in 1.7 when site scan results are available. */
}


.template-mode-option .components-panel__row {
	flex-wrap: wrap;
}

.template-mode-option .components-panel__row > * {
	width: 100%;
}
