button {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	box-sizing: border-box;
	margin: 4px 0 0;
	vertical-align: top;
	background: #2271b1;
	border-color: #2271b1;
	color: #fff;
	text-shadow: none;
}

button[disabled] {
	color: #a7aaad;
	background: #f6f7f7;
	border-color: #dcdcde;
	box-shadow: none;
	text-shadow: none;
	cursor: default;
}

button:not([disabled]):hover {
	background: #135e96;
	border-color: #135e96;
	color: #fff;
}

button:focus {
	background: #f6f7f7;
	border-color: #3582c4;
	color: #0a4b78;
	box-shadow: 0 0 0 1px #fff, 0 0 0 3px #2271b1;

	/* Only visible in Windows High Contrast mode */
	outline: 2px solid transparent;

	/* Reset inherited offset from Gutenberg */
	outline-offset: 0;
}

button:active {
	background: #135e96;
	border-color: #135e96;
	box-shadow: none;
	color: #fff;
}

.amp-qa-tester-checkbox {
	margin: 4px 0 0;
}

.amp-qa-tester-checkbox label {
	user-select: none;
}

.amp-qa-tester-checkbox label,
.amp-qa-tester-checkbox input {
	vertical-align: middle;
	cursor: pointer;
}

.amp-qa-tester-checkbox input {
	width: 16px;
	height: 16px;
}

.error {
	display: flex;
	margin: 4px 0 0;
	padding: 0 4px;
	background-color: #8b0000;
}

.error > span {
	flex: auto;
	color: #f1f1f1;
}

.error > button.notice-dismiss::before {
	color: #f1f1f1;
}

.installing {
	border: 2px solid #eee;
	border-radius: 50%;
	border-top: 2px solid #333;
	width: 14px;
	height: 14px;
	animation: spin 2s linear infinite;
	margin: 6px;
	float: left;
}

@keyframes spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
