:root {
	--preview-scale: 1;
	--preview-translateX: 0%;
	--preview-translateY: 0%;
}

/*
 * 0. General editor layout styles.
 */
.edit-post-visual-editor {
	padding-left: 50px;
	padding-right: 50px;
}

.editor-styles-wrapper .wp-block:not([data-font-family]),
.editor-styles-wrapper #amp-story-editor,
.block-editor-block-preview .block-editor-block-preview__content > div {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media screen and (min-width: 1280px) {

	#amp-story-editor {
		min-width: 820px;
	}
}

/*
 * Remove alpha channel from placeholder background color
 *
 * Makes editing blocks easier when their on top of another block.
 */
#amp-story-editor .components-placeholder {
	background: #f3f3f3;
}

/* Completely hide default appenders/inserters */
#amp-story-editor .block-editor-block-list__block .block-editor-block-list__empty-block-inserter,
#amp-story-editor .block-editor-block-list__layout .block-editor-default-block-appender,
#amp-story-editor .block-editor-block-list__block > .block-editor-block-list__insertion-point {
	display: none !important;
}

/* Removes margin from block wrappers */
.editor-styles-wrapper #amp-story-editor [data-block] {
	margin-top: 0;
	margin-bottom: 0;
}

/* Quote block adjustments */
.wp-block-quote__citation {
	font-size: 16px;
	margin-top: 24px;
	display: block;
}

.editor-styles-wrapper .wp-block-quote p {
	line-height: 34px;
	font-weight: bold;
	font-size: 30px;
	font-family: "Source Sans Pro", sans-serif;
}

.wp-block-quote,
.wp-block-quote[style*="text-align: right"] {
	border: none;
	padding-top: 100px;
}

.block-editor-block-list__layout .block-editor-block-list__block [data-type="core/quote"] .block-editor-block-list__block-edit::before {
	right: -5px;
	left: -5px;
	top: -5px;
	bottom: -5px;
}

:not(.amp-story-page-preview) :not(.amp-stories__editor-inserter__results) .components-disabled .wp-block-quote.is-style-white {
	background-color: #313131;
}

.amp-story-reorderer-item .amp-story-page-preview .components-disabled .wp-block-quote.is-style-white,
.amp-stories__editor-inserter__menu .amp-stories__editor-inserter__results .components-disabled .wp-block-quote.is-style-white {
	background-color: initial;
}

/*
 * Fix issue where images wit large max-width/max-height visually break the editor.
 *
 * @see https://github.com/ampproject/amp-wp/pull/2119
 * @see https://github.com/WordPress/gutenberg/issues/7180
 */

.wp-block .components-resizable-box__container + .__resizable_base__ { /* stylelint-disable-line selector-class-pattern */
	left: 0 !important;
}

.wp-block[data-type="core/list"] .amp-story-editor__rotate-container,
.wp-block[data-type="core/list"] .block-mover,
.wp-block[data-type="core/list"] .block-mover div {
	height: 100%;
}

.wp-block[data-type="core/code"] .amp-story-editor__rotate-container,
.wp-block[data-type="core/code"] .block-mover,
.wp-block[data-type="core/code"] .block-mover div {
	height: 100%;
}

.wp-block[data-type="core/video"] .block-mover,
.wp-block[data-type="core/video"] .block-mover div {
	height: 100%;
}

.wp-block[data-type="core/video"] .block-mover .editor-rich-text.block-editor-rich-text,
.wp-block[data-type="core/video"] .block-mover .editor-rich-text.block-editor-rich-text div {
	height: initial;
}

.wp-block[data-type="core/video"] .wp-block-video {
	margin: 0;
}

.wp-block-code textarea {
	white-space: nowrap;
}

.wp-block[data-type="core/preformatted"] div[draggable="true"],
.wp-block[data-type="core/verse"] div[draggable="true"] {
	border: 5px solid transparent;
}

.wp-block-preformatted .block-editor-rich-text__editable,
.wp-block-verse .block-editor-rich-text__editable {
	white-space: nowrap !important;
	padding: 5px;
}

.wp-block[data-type="core/pullquote"] .block-mover,
.wp-block[data-type="core/pullquote"] .block-mover div,
.wp-block-pullquote {
	height: 100%;
}

.wp-block[data-type="core/table"] .block-mover,
.wp-block[data-type="core/table"] .block-mover div,
.wp-block-table {
	height: 100%;
}

.wp-block[data-type="core/table"] .block-mover .components-placeholder,
.wp-block[data-type="core/table"] .block-mover .components-placeholder div {
	height: initial;
}

.block-library-list ul li,
.wp-block-verse pre,
.wp-block-preformatted pre {
	cursor: initial;
}

.block-library-list {
	padding: 5px;
}

.block-library-list ul {
	margin: 0;
}

.wp-block-verse pre,
.wp-block-preformatted pre {
	margin: 0;
}

/**
 * Hide option to toggle fixed toolbar.
 */
.edit-post-more-menu__content .components-menu-group:first-of-type .components-button:first-of-type {
	display: none;
}

/**
 * Hide Block Manager option
 */
.edit-post-more-menu__content .components-menu-group:nth-last-of-type(2) div[role="group"] > .components-button:first-child {
	display: none;
}

/*
 * 100. Shame
 */

/*
 * 100.1 Gutenberg - Warning div not clickable
 * Fixes Gutenberg bug where an extra wrapping div is causing no pointer events on the notice layer.
 */

.block-editor-block-list__layout .block-editor-block-list__block.has-warning .block-editor-block-list__block-edit > :not(.editor-warning) {
	pointer-events: all;
}

.block-editor-block-list__layout .block-editor-block-list__block.has-warning .block-editor-block-list__block-edit > div > div:not(.editor-warning) {
	pointer-events: none;
}

div[data-amp-caption="noCaption"] figure.wp-block-image figcaption,
div[data-amp-caption="noCaption"] .wp-block-video figcaption {
	display: none;
}

.wp-block .is-amp-fit-text {
	overflow-wrap: normal;
}

.wp-block-video,
.wp-block-video .components-disabled {
	height: 100%;
}

.wp-block-video .components-disabled {
	overflow: hidden;
}

.wp-block-video video {
	height: 100%;
	width: 100%;
}

/* If the Media Library has 2 notices, like for wrong video file type and size, prevent them from covering the media. */
.media-frame.has-two-notices .media-frame-content {
	bottom: 120px;
}

/* More space for notices in the sidebar */

.components-panel__body .components-notice {
	margin-left: 0;
	margin-right: 0;
}

/* Custom video block poster image */

.video-block__poster-image.editor-post-featured-image__preview img {
	object-fit: cover;
}

/*
 * AMP Stories Animations.
 *
 * The animations as defined in AMP Stories have been ported over to CSS.
 * The first keyframe will be applied to the element as the first frame before animation starts.
 *
 * @link https://amp.dev/documentation/examples/visual-effects/amp_story_animations/
 */

@keyframes story-animation-pulse {

	0% {
		transform: scale(1);
	}

	25% {
		transform: scale(0.95);
	}

	75% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(1);
	}
}

.story-animation-pulse {
	--animation-duration: 400ms;
	--animation-delay: 0ms;

	animation-name: story-animation-pulse;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-pulse {
	transform: scale(1);
}

@keyframes story-animation-fly-in-left {

	0% {
		transform: translate(var(--animation-offset-x), 0);
	}

	100% {
		transform: translate(0, 0);
	}
}

.story-animation-fly-in-left {
	--animation-duration: 400ms;
	--animation-delay: 0ms;
	--animation-offset-x: 0;

	animation-name: story-animation-fly-in-left;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-fly-in-left {
	transform: translate(var(--animation-offset-x), 0);
}

@keyframes story-animation-fly-in-right {

	0% {
		transform: translate(var(--animation-offset-x), 0);
	}

	100% {
		transform: translate(0, 0);
	}
}

.story-animation-fly-in-right {
	--animation-duration: 400ms;
	--animation-delay: 0ms;
	--animation-offset-x: 0;

	animation-name: story-animation-fly-in-right;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-fly-in-right {
	transform: translate(var(--animation-offset-x), 0);
}

@keyframes story-animation-fly-in-top {

	0% {
		transform: translate(0, var(--animation-offset-y));
	}

	100% {
		transform: translate(0, 0);
	}
}

.story-animation-fly-in-top {
	--animation-duration: 400ms;
	--animation-delay: 0ms;
	--animation-offset-y: 0;

	animation-name: story-animation-fly-in-top;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-fly-in-top {
	transform: translate(0, var(--animation-offset-y));
}

@keyframes story-animation-fly-in-bottom {

	0% {
		transform: translate(0, var(--animation-offset-y));
	}

	100% {
		transform: translate(0, 0);
	}
}

.story-animation-fly-in-bottom {
	--animation-duration: 400ms;
	--animation-delay: 0ms;
	--animation-offset-y: 0;

	animation-name: story-animation-fly-in-bottom;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-fly-in-bottom {
	transform: translate(0, var(--animation-offset-y));
}

@keyframes story-animation-rotate-in-left {

	0% {
		transform: translate(var(--animation-offset-x), 0) rotate(-360deg);
	}

	100% {
		transform: translate(0, 0);
	}
}

.story-animation-rotate-in-left {
	--animation-duration: 600ms;
	--animation-delay: 0ms;
	--animation-offset-x: 0;

	animation-name: story-animation-rotate-in-left;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-rotate-in-left {
	transform: translate(var(--animation-offset-x), 0) rotate(-360deg);
}

@keyframes story-animation-rotate-in-right {

	0% {
		transform: translate(var(--animation-offset-x), 0) rotate(-360deg);
	}

	100% {
		transform: translate(0, 0);
	}
}

.story-animation-rotate-in-right {
	--animation-duration: 600ms;
	--animation-delay: 0ms;
	--animation-offset-x: 0;

	animation-name: story-animation-rotate-in-right;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-rotate-in-right {
	transform: translate(var(--animation-offset-x), 0) rotate(-360deg);
}

@keyframes story-animation-fade-in {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.story-animation-fade-in {
	--animation-duration: 400ms;
	--animation-delay: 0ms;

	animation-name: story-animation-fade-in;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-fade-in {
	opacity: 0;
}

@keyframes story-animation-drop {

	0% {
		transform: translateY(calc(-1 * var(--animation-offset-y)));
		animation-timing-function: cubic-bezier(.75, .05, .86, .08);
	}

	30% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(.22, .61, .35, 1);
	}

	52% {
		transform: translateY(calc(-0.6 * var(--animation-offset-y)));
		animation-timing-function: cubic-bezier(.75, .05, .86, .08);
	}

	74% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(.22, .61, .35, 1);
	}

	83% {
		transform: translateY(calc(-0.3 * var(--animation-offset-y)));
		animation-timing-function: cubic-bezier(.75, .05, .86, .08);
	}

	100% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(.22, .61, .35, 1);
	}
}

.story-animation-drop {
	--animation-duration: 1600ms;
	--animation-delay: 0ms;
	--animation-offset-y: 0;

	animation-name: story-animation-drop;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-drop {
	transform: translateY(calc(-1 * var(--animation-offset-y)));
}

@keyframes story-animation-twirl-in {

	0% {
		transform: rotate(-540deg) scale(0.1);
		opacity: 0;
	}

	100% {
		transform: none;
		opacity: 1;
	}
}

.story-animation-twirl-in {
	--animation-duration: 1000ms;
	--animation-delay: 0ms;

	animation-name: story-animation-twirl-in;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(.2, .75, .4, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-twirl-in {
	transform: rotate(-540deg) scale(0.1);
	opacity: 0;
}

@keyframes story-animation-whoosh-in-left {

	0% {
		opacity: 0;
		transform: translate(var(--animation-offset-x), 0) scale(.15);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0) scale(1);
	}
}

.story-animation-whoosh-in-left {
	--animation-duration: 400ms;
	--animation-delay: 0ms;

	animation-name: story-animation-whoosh-in-left;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-whoosh-in-left {
	transform: translate(var(--animation-offset-x), 0) scale(.15);
	opacity: 0;
}

@keyframes story-animation-whoosh-in-right {

	0% {
		opacity: 0;
		transform: translate(var(--animation-offset-x), 0) scale(.15);
	}

	100% {
		opacity: 1;
		transform: translate(0, 0) scale(1);
	}
}

.story-animation-whoosh-in-right {
	--animation-duration: 400ms;
	--animation-delay: 0ms;

	animation-name: story-animation-whoosh-in-right;
	animation-duration: var(--animation-duration);
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-whoosh-in-right {
	transform: translate(var(--animation-offset-x), 0) scale(.15);
	opacity: 0;
}

@keyframes story-animation-pan-left {

	0% {
		transform: translate(var(--animation-offset-x), var(--animation-offset-y)) scale(var(--animation-scale-start));
		transform-origin: left top;
	}

	100% {
		transform: translate(0, var(--animation-offset-y)) scale(var(--animation-scale-end));
		transform-origin: left top;
	}
}

.story-animation-pan-left {
	--animation-duration: 1000ms;
	--animation-delay: 0ms;
	--animation-scale-start: 1;
	--animation-scale-end: 1;
	--animation-offset-x: 0;
	--animation-offset-y: 0;

	animation-name: story-animation-pan-left;
	animation-duration: var(--animation-duration);
	animation-timing-function: linear;
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-pan-left {
	transform: translate(var(--animation-offset-x), var(--animation-offset-y)) scale(var(--animation-scale-start));
	transform-origin: left top;
}

@keyframes story-animation-pan-right {

	0% {
		transform: translate(0, var(--animation-offset-y)) scale(var(--animation-scale-start));
		transform-origin: left top;
	}

	100% {
		transform: translate(var(--animation-offset-x), var(--animation-offset-y)) scale(var(--animation-scale-end));
		transform-origin: left top;
	}
}

.story-animation-pan-right {
	--animation-duration: 1000ms;
	--animation-delay: 0ms;
	--animation-scale-start: 1.25;
	--animation-scale-end: 1.25;
	--animation-offset-x: 0;
	--animation-offset-y: 0;

	animation-name: story-animation-pan-right;
	animation-duration: var(--animation-duration);
	animation-timing-function: linear;
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-pan-right {
	transform: translate(0, var(--animation-offset-y)) scale(var(--animation-scale-start));
	transform-origin: left top;
}

@keyframes story-animation-pan-down {

	0% {
		transform: translate(var(--animation-offset-x), 0) scale(var(--animation-scale-start));
		transform-origin: left top;
	}

	100% {
		transform: translate(var(--animation-offset-x), var(--animation-offset-y)) scale(var(--animation-scale-end));
		transform-origin: left top;
	}
}

.story-animation-pan-down {
	--animation-duration: 1000ms;
	--animation-delay: 0ms;
	--animation-scale-start: 1.25;
	--animation-scale-end: 1.25;
	--animation-offset-x: 0;
	--animation-offset-y: 0;

	animation-name: story-animation-pan-down;
	animation-duration: var(--animation-duration);
	animation-timing-function: linear;
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-pan-down {
	transform: translate(var(--animation-offset-x), 0) scale(var(--animation-scale-start));
	transform-origin: left top;
}

@keyframes story-animation-pan-up {

	0% {
		transform: translate(var(--animation-offset-x), var(--animation-offset-y)) scale(var(--animation-scale-start));
		transform-origin: left top;
	}

	100% {
		transform: translate(var(--animation-offset-x), 0) scale(var(--animation-scale-end));
		transform-origin: left top;
	}
}

.story-animation-pan-up {
	--animation-duration: 1000ms;
	--animation-delay: 0ms;
	--animation-scale-start: 1.25;
	--animation-scale-end: 1.25;
	--animation-offset-x: 0;
	--animation-offset-y: 0;

	animation-name: story-animation-pan-up;
	animation-duration: var(--animation-duration);
	animation-timing-function: linear;
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-pan-up {
	transform: translate(var(--animation-offset-x), var(--animation-offset-y)) scale(var(--animation-scale-start));
	transform-origin: left top;
}

@keyframes story-animation-zoom-in {

	0% {
		transform: scale(var(--animation-scale-start));
	}

	100% {
		transform: scale(var(--animation-scale-end));
	}
}

.story-animation-zoom-in {
	--animation-duration: 1000ms;
	--animation-delay: 0ms;
	--animation-scale-start: 1;
	--animation-scale-end: 3;

	animation-name: story-animation-zoom-in;
	animation-duration: var(--animation-duration);
	animation-timing-function: linear;
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-zoom-in {
	transform: scale(var(--animation-scale-start));
}

@keyframes story-animation-zoom-out {

	0% {
		transform: scale(var(--animation-scale-start));
	}

	100% {
		transform: scale(var(--animation-scale-end));
	}
}

.story-animation-zoom-out {
	--animation-duration: 1000ms;
	--animation-delay: 0ms;
	--animation-scale-start: 3;
	--animation-scale-end: 1;

	animation-name: story-animation-zoom-out;
	animation-duration: var(--animation-duration);
	animation-timing-function: linear;
	animation-delay: var(--animation-delay);
	animation-fill-mode: both;
}

.story-animation-init-zoom-out {
	transform: scale(var(--animation-scale-start));
}
