.phone {
	background: #f1f1f1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	height: 413px;
	min-height: 200px;
	padding: 12px;
	position: relative;
}

.phone > * {
	max-width: 100%;
}

.phone::before {
	background: #e6e6e6;
	border-radius: 3px;
	content: "";
	display: block;
	height: 5px;
	margin: 9px auto;
	width: 43px;
}

.phone__inner {
	display: flex;
	background-color: var(--amp-settings-color-dark-gray);
	flex-grow: 1;
	overflow: hidden;
	position: relative;
}

.phone__overlay {
	align-items: center;
	background-color: var(--amp-settings-color-dark-gray);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	visibility: hidden;
}

.phone.is-loading .phone__overlay {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
}
