.wp-block[data-type="amp/amp-story-text"] p {
	margin: 0;
}

/**
 * See https://github.com/ampproject/amp-wp/issues/2219.
 */
.wp-block-amp-story-text .block-editor-rich-text__editable {
	padding: 7px !important;
	width: 100%;
}

.is-not-editing .wp-block-amp-amp-story-text.block-editor-rich-text__editable.editor-rich-text__editable {
	cursor: grab;
}

.wp-block-amp-story-text-wrapper.is-empty-draggable-text,
.wp-block-amp-story-text-wrapper:not(.with-line-height) {
	height: 100%;
}

.wp-block-amp-story-text-wrapper .amp-overlay {
	height: 100%;
	width: 100%;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.wp-block-amp-story-text-wrapper.is-empty-draggable-text .amp-text-placeholder {
	opacity: 0.62;
}

.editor-styles-wrapper #amp-story-editor .wp-block .wp-block[data-type="amp/amp-story-text"] {
	width: initial;
}

.wp-block[data-type="amp/amp-story-text"] .block-editor-rich-text__editable,
div[data-type="amp/amp-story-page"] .block-editor-inner-blocks .block-editor-block-list__block-edit {
	display: inline-block;
}

.with-line-height .wp-block-amp-story-text {
	position: relative;
}

.wp-block[data-type="amp/amp-story-text"] .wp-block-amp-story-text .is-amp-fit-text {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.15;
}

.wp-block[data-type="amp/amp-story-text"] .wp-block-amp-story-text .is-amp-fit-text.is-measuring {
	height: initial !important;
	width: initial !important;
	position: absolute !important;
}

.editor-block-list__layout .wp-block[data-type="amp/amp-story-text"] .editor-block-list__block-edit::before {
	position: absolute;
}

.wp-block[data-type="amp/amp-story-text"] .amp-story-editor__rotate-container,
.wp-block[data-type="amp/amp-story-text"] .block-mover,
.wp-block[data-type="amp/amp-story-text"] .block-mover div {
	height: 100%;
}
