.amp .components-button.components-button--copy {
	box-shadow: none;
	color: var(--amp-settings-color-brand);
	text-decoration: none;
	font-size: .8rem;
	padding: 0.25rem .5rem;
	margin: 0 .5rem;
	outline: none !important;
	height: auto;
}
