/* still picked up by assistive technologies thanks to aria-describedby */
.amp-story-order-controls .amp-story-controls-description {
	display: none;
}

.amp-story-order-controls-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.amp-story-order-controls-wrap .components-icon-button {
	display: block;
	align-self: start;
	text-align: center;
	color: inherit;
}

.amp-story-order-controls-wrap .components-icon-button svg {
	display: block;
	margin: 0 auto;
}

.wp-block [draggable="true"] {
	-webkit-user-select: auto;
}

.wp-block [draggable="true"]:hover {
	cursor: grab;
}

/* The editable area of the Text block shouldn't have cursor: grab. */
.wp-block[data-type="amp/amp-story-text"] .editor-rich-text__editable:hover,
.wp-block[data-type="core/quote"] .editor-rich-text__editable:hover {
	cursor: default;
}
