.autocomplete__wrapper .autocomplete__menu {
	border-color: #007cba;
	width: 101%;
	border-bottom-left-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
	margin-top: -3px;
	padding-top: 3px;
	max-height: 200px;
}

.autocomplete__icon {
	position: absolute;
	top: 2px;
	right: 0;
	padding: 4px;
	box-shadow: none !important;
	border: 0 none;
}

.autocomplete__option {
	border-bottom: 0 none;
	padding: 6px 8px;
	font-size: 13px;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
	background-color: #0071a1;
	border-color: #0071a1;
}

.autocomplete__wrapper .autocomplete__input.autocomplete__input--focused {
	color: #191e23;
	border-color: #007cba;
	box-shadow: 0 0 0 1px #007cba;
	outline: 2px solid transparent;
}
