.amp-stylesheet-summary {
	margin: 1em 0;

	span.amp-icon {
		font-size: 16px;
		vertical-align: middle;
	}

	th {
		text-align: right;
		padding-right: 1ex;
		font-weight: normal;
	}

	td {
		font-weight: bold;
		text-align: right;
	}
}
