## Class `{{ get_fully_qualified_name }}`

{{# has_description }}
{{ get_description }}

{{/ has_description }}
### Methods

{{# methods }}
* [`{{{ name }}}`](../method/{{{ get_filename }}}.md){{# has_description }} - {{ get_short_description }}{{/ has_description }}
{{/ methods }}
