## Class `{{ get_fqcn }}`
{{# doc.description }}
{{ doc.description }}

{{/ doc.description }}
{{# doc.long_description }}
{{ doc.long_description }}

{{/ doc.long_description }}
### Methods
{{# methods }}
{{> method }}
{{/ methods }}
