## Hooks

{{# . }}
* {{# is_deprecated }}~~{{/is_deprecated}}[`{{{ name }}}`]({{{ get_filename }}}.md){{# has_description }} - {{ get_short_description }}{{/ has_description }}{{# is_deprecated }}~~{{/is_deprecated}}
{{/.}}
