## Method `{{{ get_display_name }}}`

{{# is_deprecated }}
> :warning: This method is deprecated: {{ get_deprecation_reason }}

{{/is_deprecated}}
```php
{{{ get_signature }}}
```

{{# has_description }}
{{ get_description }}

{{/ has_description }}
{{# has_arguments }}
### Arguments

{{# arguments }}
* `{{{ guess_type }}} {{{ name }}}`{{# has_description}} - {{ get_description }}{{/has_description}}
{{/ arguments }}

{{/ has_arguments }}
{{# has_return_value }}
### Return value

`{{ get_return_value_types }}`{{# has_return_value_description }} - {{ get_return_value_description }}{{/ has_return_value_description }}

{{/ has_return_value }}
### Source

:link: [{{ get_file_path }}:{{ line }}]({{{ get_github_link }}})

<details>
<summary>Show Code</summary>

```php
{{{ get_code }}}```

</details>
