.amp-wp-choose-reader-theme > form {
	margin-left: -8px;
	margin-right: -8px;
}

.amp-wp-choose-reader-theme > p {
	font-size: 1rem;
	margin-bottom: 1.5rem;
}

.amp-wp-choose-reader-theme__grid {
	display: grid;
	grid-gap: 40px;

	@media screen and (min-width: 600px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: 1100px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.amp-wp-theme-card {
	display: flex;
	flex-direction: column;
	padding: 35px 31px;
	position: relative;
}

.amp-wp-theme-card__label-header {
	align-items: center;
	display: flex;
}

.amp-wp-theme-card__label-header h2 {
	margin-left: 5px;
	margin-top: 0.75em;
}

.amp-wp-theme-card img {
	height: auto;
	width: 100%;
}

.amp-wp-theme-card p {
	font-size: 13px;
	line-height: 1.666;
}

.amp-wp-theme-card__theme-link {
	margin-top: auto;
}

.phone {
	background: #f1f1f1;
	border-radius: 10px;
	margin-bottom: 1rem;
	padding: 12px;
	position: relative;
}

.phone::before {
	background: #e6e6e6;
	border-radius: 3px;
	content: "";
	display: block;
	height: 5px;
	margin: 9px auto;
	width: 43px;
}
