.amp-wp-choose-reader-theme__grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 1000px;
	overflow: scroll;
}

.amp-wp-theme-card {
	margin-bottom: 44px;
	padding: 20px 24px;
	position: relative;

	@media screen and (min-width: 783px) {
		width: 50%;
	}
}

.amp-wp-theme-card::after {
	border-bottom: 1px solid #e0e0e0;
	bottom: -22px;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
}

.amp-wp-theme-card:nth-of-type(odd)::after {

	@media screen and (min-width: 783px) {
		left: 22px;
	}
}

.amp-wp-theme-card:nth-of-type(even)::after {

	@media screen and (min-width: 783px) {
		right: 22px;
	}
}

.amp-wp-theme-card--selected {
	background-color: var(--amp-wp-light-blue);
}

.amp-wp-theme-card__label-header {
	align-items: center;
	display: flex;
}

.amp-wp-theme-card__label-header h2 {
	margin-left: 16.5px;
	margin-top: 0.75em;
}

.amp-wp-theme-card img {
	height: auto;
	width: 100%;
}
