.editor-block-list__layout div[data-type="amp/amp-story-cta"] {
	top: 80%;
	left: 0;
	width: 100%;
	height: 20%;
}

.block-editor-block-list__layout div[data-type="amp/amp-story-cta"]:not(#id) {
	margin-top: 0;
}

.editor-block-list__layout div[data-type="amp/amp-story-cta"] img {

	/* Remove the top/bottom padding from the available space. */
	max-height: calc(110px - 24px);
}

.amp-block-story-cta__link img {
	object-fit: contain;
}

.amp-block-story-cta__link .amp-text-placeholder {
	opacity: 0.62;
}

div[data-type="amp/amp-story-cta"] .amp-overlay {
	height: 100%;
	width: 100%;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.editor-block-list__layout div[data-type="amp/amp-story-cta"] .editor-block-mover {
	display: none;
}

.block-editor-block-list__block[data-type="amp/amp-story-cta"] .block-editor-block-list__block-edit {

	/* Let's position the block so that there would be no space between the Page borders and the content */
	--cta-margin: 3px;
	height: calc(100% + calc(var(--cta-margin) * 2));
	width: 100%;
	bottom: var(--cta-margin);
}

.block-editor-block-list__layout .block-editor-block-list__block[data-type="amp/amp-story-cta"] .block-editor-block-list__block-edit::before {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.block-editor-block-list__block[data-type="amp/amp-story-cta"] .block-editor-block-contextual-toolbar {
	margin-left: -1px;
	margin-right: 0;
}

.amp-story-cta-button {
	position: absolute;
}

.wp-block-amp-amp-story-cta {
	display: inline-block;
	padding: 5px;
	margin-bottom: 0;
	position: relative;
}

.wp-block-amp-amp-story-cta [contenteditable] {
	cursor: text;
}

.wp-block-amp-amp-story-cta .block-editor-rich-text__editable[data-is-placeholder-visible="true"] + .block-editor-rich-text__editable {
	opacity: 0.8;
}

.block-editor-block-preview__content .wp-block-amp-amp-story-cta {
	max-width: 100%;
}

.wp-block-amp-amp-story-cta .block-editor-rich-text__editable code {
	background: inherit;
	color: inherit;
}

.wp-block-amp-amp-story-cta .block-editor-rich-text__editable[data-is-placeholder-visible="true"] {
	height: auto;
}

.wp-block-amp-amp-story-cta .amp-block-story-cta__link {
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.amp-block-story-cta__link {
	border: none;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 7px 19px 0;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	overflow-wrap: break-word;
}

.amp-block-story-cta__inline-link {
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1.4;
	width: calc(300px + 2px + 2 * 36px);
	position: absolute;
	z-index: 10;
	margin-top: -0.5em;
}

.is-dragging-components-draggable .amp-block-story-cta__inline-link {
	display: none;
}

.amp-block-story-cta__inline-link .block-editor-url-input {
	width: auto;
}

.amp-block-story-cta__inline-link .block-editor-url-input__suggestions {
	width: calc(300px + 2px);
	z-index: 10;
}

.amp-block-story-cta__inline-link > .dashicon {
	width: 36px;
}

.amp-block-story-cta__inline-link .dashicon {
	color: #8f98a1;
}

.amp-block-story-cta__inline-link .block-editor-url-input input[type="text"]::placeholder {
	color: #8f98a1;
}
