.wp-block[data-type="amp/amp-story-post-title"] .wp-block-amp-amp-story-post-title {
	margin: 0;
	padding: 7px !important;
	height: 100%;
}

.wp-block[data-type="amp/amp-story-post-title"] .wp-block-amp-amp-story-post-title.is-amp-fit-text {
	line-height: 1.15;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.wp-block[data-type="amp/amp-story-post-title"] .wp-block-amp-amp-story-post-title.is-amp-fit-text.is-measuring-fontsize {
	height: initial !important;
}
