.amp a {
	color: var(--brand);
}

.amp h1,
.amp h2,
.amp h3,
.amp h4,
.amp h5,
.amp h6,
.amp .h1,
.amp .h2,
.amp .h3,
.amp .h4,
.amp .h5,
.amp .h6,
.components-button {
	font-family: var(--font-poppins);
}

.amp h2 {
	font-size: 1.5rem;
}

.amp p {
	font-size: 16px;
}

.amp,
.amp::before,
.amp::after,
.amp *,
.amp *::before,
.amp *::after {
	box-sizing: border-box;
}

/**
 * Inputs.
 */
.amp input[type="radio"] {
	border-color: var(--gray);
	border-width: 2px;
	box-shadow: none;
	height: 1.5rem;
	width: 1.5rem;
}

.amp input[type="radio"][disabled] {
	border-color: var(--light-gray);
}

.amp input[type="radio"]:checked {
	border-color: var(--brand);
}

.amp input[type="radio"]:checked::before {
	background-color: var(--brand);
	height: 12px;
	margin: 0.25rem;
	width: 12px;
}

.amp input[type="checkbox"]:focus,
.amp input[type="radio"]:focus {
	border-color: var(--brand);
	box-shadow: 0 0 0 1px var(--brand);
}

.amp .components-checkbox-control__input[type="checkbox"]:checked {
	background: var(--brand);
}
