/**
 * CSS variables for the AMP admin pages.
 *
 * @todo Make the naming of these variables more semantic.
 */
:root {
	--stepper-max-width: 280px;
	--setup-page-max-width: 1000px;
	--black: #212121;
	--brand: #2459e7;
	--gray: #6c7781;
	--light-gray: #e8e8e8;
	--very-light-gray: #fafafc;
	--white: #fff;
	--font-noto: "Noto Sans", sans-serif;
	--font-poppins: poppins, sans-serif;
	--color-valid: #46b450;
	--color-invalid: #dc3232;
}
