/**
 * Selectable elements.
 */
.selectable {
	background-color: var(--white);
	border: 2px solid var(--light-gray);
	border-radius: 8px;
	box-shadow: -10px 0 0 var(--light-gray);
	padding: 2.5rem;
}

.selectable--bottom {
	border: 2px solid var(--light-gray);
	box-shadow: 0 10px 0 var(--light-gray);
}

.selectable--selected {
	border-color: var(--brand);
	box-shadow: -10px 0 0 var(--brand);
}

.selectable--bottom.selectable--selected {
	box-shadow: 0 10px 0 var(--brand);
}

/** Other directions not yet required. */
