.list-items--list-style-disc {
	list-style: disc;
}

.list-items .list-items__heading {
	font-size: 1rem;
	margin: 1.5rem 0 .5rem;
}

.list-items .list-items__item-key {
	min-width: 210px;
	display: inline-block;
}
