.amp-story-resize-container .components-resizable-box__handle {
	display: block;
	opacity: 0;
	transition: opacity .3s;
}

.block-editor-inner-blocks .wp-block.is-typing .amp-story-resize-container .components-resizable-box__handle {
	opacity: 0;
}

.block-editor-inner-blocks .wp-block:hover .amp-story-resize-container .components-resizable-box__handle,
.block-editor-inner-blocks .wp-block.is-selected .amp-story-resize-container .components-resizable-box__handle,
.block-editor-inner-blocks .wp-block .amp-story-resize-container.is-resizing .components-resizable-box__handle {
	opacity: 1;
}

.amp-story-resize-container .components-resizable-box__handle-top {
	top: -14px !important;
}

.amp-story-resize-container .components-resizable-box__handle-right {
	right: -14px !important;
}

.amp-story-resize-container .components-resizable-box__handle-bottom {
	bottom: -14px !important;
}

.amp-story-resize-container .components-resizable-box__handle-left {
	left: -14px !important;
}

.amp-story-editor__rotate-container .components-resizable-box__handle {
	display: none !important;
}

.amp-story-resize-container .amp-story-editor__rotate-container {
	height: 100%;
}

.wp-block-image .components-resizable-box__container img {
	height: 100%;
	object-fit: cover;

	/* Prevents dragging the image itself, as its container is draggable. */
	-webkit-user-drag: none;
}

/* Dragging the preview image in the image block engaged the drop zone for an image, so make this non-draggable in webkit. */
.block-editor-block-list__block[data-type="core/image"] img {
	-webkit-user-drag: none;
}
