.amp-story-resize-container .components-resizable-box__handle-right {
	right: -26px;
	height: 50px;
	top: calc(50% - 25px);
}
.amp-story-resize-container .components-resizable-box__handle-right::before {
	margin: 0;
}
.amp-story-resize-container .components-resizable-box__handle-bottom {
	bottom: -26px;
	width: 50px;
	left: calc(50% - 25px);
}
.amp-story-resize-container .components-resizable-box__handle-bottom::before {
	margin: 0 auto;
}

.wp-block .components-resizable-box__handle,
.wp-block.is-typing .components-resizable-box__handle{
	display: block;
	opacity: 0;
	transition: opacity .3s;
}

.wp-block.amp-page-active .wp-block:hover .components-resizable-box__handle,
.wp-block.amp-page-active .wp-block .components-resizable-box__handle:hover {
	opacity: 1;
}
