.sidebar-notification {
	display: flex;
	margin-top: 15px;
	min-height: 67px;
	position: relative;
}

.sidebar-notification.is-loading {
	align-items: center;
}

.sidebar-notification__icon {
	align-items: center;
	border-radius: 50%;
	display: flex;
	flex: 0 0 auto;
	height: 24px;
	justify-content: center;
	margin: 0 12px 0 0;
	position: relative;
	width: 24px;
}

.sidebar-notification__icon * {
	height: 100%;
	width: 100%;
}

.sidebar-notification__content {
	display: flex;
	flex-direction: column;
}

.sidebar-notification__content > p {
	margin: 0;
}

.sidebar-notification__content > p + p,
.sidebar-notification__action {
	margin-top: 4px;
}

/*
 * Small sidebar notification.
 */
.sidebar-notification.is-small {
	min-height: 36px;
}

.sidebar-notification.is-small .sidebar-notification__content {
	padding-top: 4px;
}

.sidebar-notification.is-small .sidebar-notification__content p {
	font-size: 11px;
}

/*
 * Sidebar notification within a container.
 */
.sidebar-notifications-container .sidebar-notification {
	padding: 14px 18px;
}

.sidebar-notifications-container .sidebar-notification:first-child {
	margin-top: 0;
}

/*
 * Sidebar notifications container with light background.
 */
.sidebar-notifications-container.is-shady {
	background: #f4f4f4;
	border-bottom: 1px solid #e3e4e7;
	padding: 18px 10px;
}

.sidebar-notifications-container.is-shady .sidebar-notification {
	background: #fff;
	border-radius: 15px;
	overflow: hidden;
}
