name: Auto-merge

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  automerge-dependencies:
    name: Automerge dependencies
    runs-on: ubuntu-latest
    if: >
      github.actor == 'dependabot[bot]' &&
      github.event.pull_request.auto_merge == null
    steps:
      - name: Enable auto-merge for the PR
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
